*{
    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica Neue,Arial;
}
a:hover{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#181818;
    color: #fff;
    padding: 0.5%;
    
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
#nav-list2{
    align-items: center;
}
#logo-container{
    width:20%;
}
#logo{
    width:40%;
}

#gauche, #droite{
    width:50%;
}
#gauche{
    display: flex;
}
#nav-list1{
    width:65%;
}
svg{
    fill: white;
}

#droite{
    width:26%;
}
#section1{
    background-image:radial-gradient(farthest-corner at 85% 10%, rgba(0,0,0,0) 50%, rgba(0,0,0, 0.6) 100%);
    background: url(images/gate_family_hero_01.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

#section1-haut{
    color: white;
    padding: 12% 0% 13% 8%;
}

#titre-section{
    font-size:1.9em;
    font-weight:600;
}
#sous-titre-section{
    font-size: 5em;
    font-weight: 700;
}

#hexa{
    width:8.5%;
    fill: transparent;
    stroke: #ffffff;
    padding-right: 8%;
}

#section1-bas{
    width: 40%;
    padding-left: 58%;
    display: flex;
    padding-bottom: 1.5%;
}
#hexa-sous-titre{
    font-size: 2em;
    font-weight: 300;
    padding-top: 1%;
}
#hexa-titre{
    font-size: 1em;
    font-weight:600;
}

#overview{
    color: white;
    position: fixed;
    bottom: 0;
    background-color: black;
    z-index: 1;
    width: 100%;
    text-align: center;
}

#section2-container{
    display: flex;
}

#section2-gauche , #section2-droite{
    width:50%;
    overflow: hidden;
}
#clip-svg{
    position: relative;
    left: 50%;
}

#clip-svg2{
    position: relative;
    left: 15%;
}
