@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color:#6D2ED5;
  --mars:#d14c32;
  --earth:#6D2ED5;
  --mercury:#419EBB;
  --venus:#eda249;
  --jupiter:#d83a34;
  --saturn:#cd5120;
  --uranus:#1ec1a2;
  --neptune:#2d68f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #070724;
  background-image: url("assets/background-stars.svg");
}

nav {
  padding: 1% 2%;
  text-transform: uppercase;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
  padding-bottom: 1.5%;
}

nav div {
  float: left;
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  color: #FFFFFF;
}

nav ul {
  display: flex;
  justify-content: end;
}

#hamburger-container {
  display: none;
}

li {
  list-style-type: none;
  float: right;
  margin-inline: 0.5%;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  /* identical to box height, or 227% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
}

li:before {
  content: "";
  width: 0%;
  background-color: var(--bg);
  height: 1.5px;
  position: absolute;
  transition: all 0.5s;
}

li:hover:before, li.li-active:before {
  width: 100%;
}

#first-section {
  display: flex;
  align-items: center;
  width: 66%;
  margin-left: 17%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4%;
  margin-bottom: 6%;
}

#img-container {
  position: relative;
}

#zoom {
  position: absolute;
  width: 20%;
  left: 40%;
  top: 80%;
}

#title {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 104px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
}

#text {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 25px;
  /* or 179% */
  color: #FFFFFF;
}

#source {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#categorie-1 {
  display: none;
}

#categorie {
  padding-top: 8%;
}

#categorie p {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 208% */
  letter-spacing: 2.57143px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1% 2%;
  margin-bottom: 3%;
  cursor: pointer;
}

#categorie p:hover {
  background: rgba(216, 216, 216, 0.3176470588);
}

#categorie p span {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 208% */
  letter-spacing: 2.57143px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

#second-section {
  display: flex;
  justify-content: space-between;
  width: 66%;
  margin-left: 17%;
}

.rectangle p {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  /* identical to box height, or 227% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.rectangle span {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.rectangle {
  mix-blend-mode: normal;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 24%;
  padding: 1.5% 3%;
}

.sub .active, .sub .active:hover {
  background: var(--color) !important;
}

@media only screen and (min-width: 1440px) {
  #image {
    width: 458px;
  }
}
@media only screen and (max-width: 1200px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav div, nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav div {
    margin-bottom: 2%;
  }

  #first-section {
    margin-left: 2.5%;
    margin-right: 0px;
    margin-top: 0%;
    width: 95%;
  }

  #img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  #img-container #image {
    width: 30%;
  }

  #img-container #zoom {
    width: 8%;
    left: 46%;
    top: 87%;
  }

  #right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #info, #categorie {
    width: 45%;
  }

  #categorie {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #categorie p {
    width: 100%;
  }

  #second-section {
    margin-left: 2.5%;
    width: 95%;
  }

  .rectangle span {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .fixed {
    height: 100vh;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    padding-inline: 0%;
    border: 0px solid black;
  }

  nav ul {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 0px;
    padding-inline: 0%;
    height: 100%;
    width: 100%;
    border: 0px solid black;
    padding-top: 3%;
  }

  nav ul :last-child {
    border-bottom: 0px;
  }

  nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 0%;
  }

  .right-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .left-mobile {
    width: 100%;
    justify-content: start;
  }

  .arrow {
    border-top: #d8d8d8 1px solid;
    border-right: #d8d8d8 1px solid;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }

  .planet-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    border-radius: 50%;
    margin-right: 5%;
    margin-bottom: 0%;
  }

  #mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
    padding: 1% 2%;
  }

  li:before {
    content: "";
  }

  li:hover:before, li.li-active:before {
    width: 0%;
  }

  #hamburger-container {
    display: block;
    cursor: pointer;
  }

  #second-section {
    flex-direction: column;
  }

  .rectangle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #info {
    width: 100%;
  }

  #categorie {
    display: none;
  }

  #categorie-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10%;
    align-items: center;
    width: 100%;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
  }

  .active {
    background-color: transparent;
  }

  #categorie-1 p {
    border: 0px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    position: relative;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  .active:before {
    content: "";
    width: 0%;
    background-color: var(--color);
    height: 2.5px;
    position: absolute;
    transition: all 0.5s;
    bottom: 0;
  }

  .active::before, li.li-active:before {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */