* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77vh;
  background: #333;
}

label {
  position: relative;
  background: #212121;
  width: 150px;
  height: 75px;
  transform: translateY(270px);
  border-radius: 10px;
}

label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  width: 150px;
  height: 75px;
}

label span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: #333;
  width: 75px;
  height: 75px;
  border: solid 6px #212121;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  font-size: 2em;
}

label input:checked ~ span {
  left: 75px;
}

label input:checked ~ span ion-icon {
  color: white;
  filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff);
}

label input:checked ~ .bulb {
  background: url("images/bulb_on.jpg");
}

.bulb {
  position: absolute;
  background-image: url("images/bulb_off.jpg");
  width: 348px;
  height: 408px;
  bottom: 120px;
  transform: translateX(-32%);
  pointer-events: none;
}

.transition-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 1000;
}

.transition-container.slide .transition1 {
  position: fixed;
  background-color: rgb(37, 207, 112);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition2 {
  position: fixed;
  background-color: rgb(63, 230, 60);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition3 {
  position: fixed;
  background-color: rgb(238, 193, 134);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

@-webkit-keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}

@keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}
.return {
  width: 7vw;
  height: 7vh;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 0;
  font-size: 4em;
}
.return ion-icon {
  color: white;
  transition: 0.5s;
  -webkit-animation: animate 0.5s infinite linear;
          animation: animate 0.5s infinite linear;
}
.return ion-icon:hover {
  color: orange;
}
@-webkit-keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}/*# sourceMappingURL=style.css.map */