* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

:root {
  --modification:2;
  --vt:8s;
  --tt:50px;
  --dt:400px;
  --mars:#993d00;
  --mercury:#1a1a1a;
  --terre:#2f6a69;
  --venus:#e6e6e6;
  --jupiter:#b07f35;
  --saturn:#b08f36;
  --uranus:#5580aa;
  --neptune:#366896;
}

body {
  min-height: 100vh;
  background: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.planete {
  position: absolute;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soleil, .soleil::after, .soleil::before {
  width: calc(var(--dt) * 0.2);
  height: calc(var(--dt) * 0.2);
  background-color: #FDB813;
  border-radius: 50%;
  box-shadow: 0 0 20px #FDB813, 0 0 60px #FDB813, 0 0 120px #FDB813;
}

#planete1 {
  width: calc(var(--dt) * 0.4);
  height: calc(var(--dt) * 0.4);
  border: 5px solid var(--mercury);
  -webkit-animation: tourner infinite calc(25.6s * var(--modification)) linear;
          animation: tourner infinite calc(25.6s * var(--modification)) linear;
}

#planete2 {
  width: calc(var(--dt) * 0.733);
  height: calc(var(--dt) * 0.733);
  border: 5px solid var(--venus);
  -webkit-animation: tourner infinite calc(18.66s * var(--modification)) linear;
          animation: tourner infinite calc(18.66s * var(--modification)) linear;
}

#planete3 {
  width: var(--dt);
  height: var(--dt);
  border: 5px solid var(--terre);
  -webkit-animation: tourner infinite calc(16s * var(--modification)) linear;
          animation: tourner infinite calc(16s * var(--modification)) linear;
}

#planete4 {
  width: calc(var(--dt) * 1.53);
  height: calc(var(--dt) * 1.53);
  border: 5px solid var(--mars);
  -webkit-animation: tourner infinite calc(12.8s * var(--modification)) linear;
          animation: tourner infinite calc(12.8s * var(--modification)) linear;
}

#planete5 {
  width: calc(var(--dt) * 2.66);
  height: calc(var(--dt) * 2.66);
  border: 5px solid var(--jupiter);
  -webkit-animation: tourner infinite calc(6.92s * var(--modification)) linear;
          animation: tourner infinite calc(6.92s * var(--modification)) linear;
}

#planete6 {
  width: calc(var(--dt) * 4);
  height: calc(var(--dt) * 4);
  border: 5px solid var(--saturn);
  -webkit-animation: tourner infinite calc(5.17s * var(--modification)) linear;
          animation: tourner infinite calc(5.17s * var(--modification)) linear;
}

#planete7 {
  width: calc(var(--dt) * 5);
  height: calc(var(--dt) * 5);
  border: 5px solid var(--uranus);
  -webkit-animation: tourner infinite calc(3.62s * var(--modification)) linear;
          animation: tourner infinite calc(3.62s * var(--modification)) linear;
}

#planete8 {
  width: calc(var(--dt) * 5.6);
  height: calc(var(--dt) * 5.6);
  border: 5px solid var(--neptune);
  -webkit-animation: tourner infinite calc(2.5s * var(--modification)) linear;
          animation: tourner infinite calc(2.5s * var(--modification)) linear;
}

#planete1::before, #planete1::after {
  content: "";
  position: absolute;
  width: calc(var(--tt) * 0.38);
  height: calc(var(--tt) * 0.38);
  background-color: var(--mercury);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) * 0.4 / 2));
  box-shadow: 0 0 20px var(--mercury), 0 0 60px var(--mercury);
}

#planete2::before, #planete2::after {
  content: "";
  position: absolute;
  width: calc(var(--tt) * 0.923);
  height: calc(var(--tt) * 0.923);
  background-color: var(--venus);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) * 0.733 / 2));
  box-shadow: 0 0 20px var(--venus), 0 0 60px var(--venus);
}

#planete3::before, #planete3::after {
  content: "";
  position: absolute;
  width: var(--tt);
  height: var(--tt);
  background-color: var(--terre);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) / 2));
  box-shadow: 0 0 20px var(--terre), 0 0 60px var(--terre);
}

#planete4::before, #planete4::after {
  content: "";
  position: absolute;
  width: calc(var(--tt) * 0.53);
  height: calc(var(--tt) * 0.53);
  background-color: var(--mars);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) * 1.53 / 2));
  box-shadow: 0 0 20px var(--mars), 0 0 60px var(--mars);
}

#planete5::before, #planete5::after {
  content: "";
  position: absolute;
  width: calc(var(--tt) * 5.5);
  height: calc(var(--tt) * 5.5);
  background-color: var(--jupiter);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) * 2.66 / 2));
  box-shadow: 0 0 20px var(--jupiter), 0 0 60px var(--jupiter);
}

#planete6::before, #planete6::after {
  content: "";
  position: absolute;
  width: calc(var(--tt) * 4.65);
  height: calc(var(--tt) * 4.65);
  background-color: var(--saturn);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) * 4 / 2));
  box-shadow: 0 0 20px var(--saturn), 0 0 60px var(--saturn);
}

#planete7::before, #planete7::after {
  content: "";
  position: absolute;
  width: calc(var(--tt) * 2);
  height: calc(var(--tt) * 2);
  background-color: var(--uranus);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) * 5 / 2));
  box-shadow: 0 0 20px var(--uranus), 0 0 60px var(--uranus);
}

#planete8::before, #planete8::after {
  content: "";
  position: absolute;
  width: calc(var(--tt) * 1.9);
  height: calc(var(--tt) * 1.9);
  background-color: var(--neptune);
  border-radius: 50%;
  transform: translateX(calc(var(--dt) * 5.6 / 2));
  box-shadow: 0 0 20px var(--neptune), 0 0 60px var(--neptune);
}

@-webkit-keyframes tourner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes tourner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.space-container {
  display: flex;
}

.etoiles {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: -999;
}
.etoiles .etoile {
  position: absolute;
}
.etoiles .etoile:after {
  position: absolute;
  content: "";
  /* I found pluses looked nicer than asterisks */
  background-color: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  color: white;
  box-shadow: 0 0 40px var(--neptune), 0 0 120px var(--neptune);
}
.etoiles:nth-child(1) {
  top: 60vh;
  left: 78vh;
}
.etoiles:nth-child(2) {
  top: 26vh;
  left: 61vh;
}
.etoiles:nth-child(3) {
  top: 5vh;
  left: 54vh;
}
.etoiles:nth-child(4) {
  top: 45vh;
  left: 23vh;
}
.etoiles:nth-child(5) {
  top: 52vh;
  left: 51vh;
}
.etoiles:nth-child(6) {
  top: 69vh;
  left: 14vh;
}
.etoiles:nth-child(7) {
  top: 64vh;
  left: 12vh;
}
.etoiles:nth-child(8) {
  top: 42vh;
  left: 96vh;
}
.etoiles:nth-child(9) {
  top: 72vh;
  left: 99vh;
}
.etoiles:nth-child(10) {
  top: 77vh;
  left: 93vh;
}
.etoiles:nth-child(11) {
  top: 28vh;
  left: 63vh;
}
.etoiles:nth-child(12) {
  top: 17vh;
  left: 70vh;
}
.etoiles:nth-child(13) {
  top: 73vh;
  left: 53vh;
}
.etoiles:nth-child(14) {
  top: 42vh;
  left: 75vh;
}
.etoiles:nth-child(15) {
  top: 36vh;
  left: 63vh;
}
.etoiles:nth-child(16) {
  top: 100vh;
  left: 21vh;
}
.etoiles:nth-child(17) {
  top: 49vh;
  left: 67vh;
}
.etoiles:nth-child(18) {
  top: 36vh;
  left: 45vh;
}
.etoiles:nth-child(19) {
  top: 39vh;
  left: 11vh;
}
.etoiles:nth-child(20) {
  top: 60vh;
  left: 25vh;
}
.etoiles:nth-child(21) {
  top: 65vh;
  left: 75vh;
}
.etoiles:nth-child(22) {
  top: 18vh;
  left: 71vh;
}
.etoiles:nth-child(23) {
  top: 50vh;
  left: 12vh;
}
.etoiles:nth-child(24) {
  top: 69vh;
  left: 81vh;
}
.etoiles:nth-child(25) {
  top: 7vh;
  left: 20vh;
}
.etoiles:nth-child(26) {
  top: 36vh;
  left: 50vh;
}
.etoiles:nth-child(27) {
  top: 78vh;
  left: 11vh;
}
.etoiles:nth-child(28) {
  top: 10vh;
  left: 18vh;
}
.etoiles:nth-child(29) {
  top: 69vh;
  left: 93vh;
}
.etoiles:nth-child(30) {
  top: 99vh;
  left: 65vh;
}
.etoiles:nth-child(31) {
  top: 20vh;
  left: 91vh;
}
.etoiles:nth-child(32) {
  top: 96vh;
  left: 55vh;
}
.etoiles:nth-child(33) {
  top: 91vh;
  left: 72vh;
}
.etoiles:nth-child(34) {
  top: 76vh;
  left: 60vh;
}
.etoiles:nth-child(35) {
  top: 54vh;
  left: 50vh;
}
.etoiles:nth-child(36) {
  top: 98vh;
  left: 97vh;
}
.etoiles:nth-child(37) {
  top: 31vh;
  left: 45vh;
}
.etoiles:nth-child(38) {
  top: 51vh;
  left: 98vh;
}
.etoiles:nth-child(39) {
  top: 71vh;
  left: 31vh;
}
.etoiles:nth-child(40) {
  top: 98vh;
  left: 66vh;
}
.etoiles:nth-child(41) {
  top: 56vh;
  left: 81vh;
}
.etoiles:nth-child(42) {
  top: 36vh;
  left: 26vh;
}
.etoiles:nth-child(43) {
  top: 28vh;
  left: 91vh;
}
.etoiles:nth-child(44) {
  top: 9vh;
  left: 99vh;
}
.etoiles:nth-child(45) {
  top: 96vh;
  left: 63vh;
}
.etoiles:nth-child(46) {
  top: 16vh;
  left: 29vh;
}
.etoiles:nth-child(47) {
  top: 96vh;
  left: 62vh;
}
.etoiles:nth-child(48) {
  top: 86vh;
  left: 34vh;
}
.etoiles:nth-child(49) {
  top: 75vh;
  left: 92vh;
}
.etoiles:nth-child(50) {
  top: 53vh;
  left: 76vh;
}
.etoiles:nth-child(51) {
  top: 17vh;
  left: 76vh;
}
.etoiles:nth-child(52) {
  top: 58vh;
  left: 11vh;
}
.etoiles:nth-child(53) {
  top: 45vh;
  left: 96vh;
}
.etoiles:nth-child(54) {
  top: 59vh;
  left: 95vh;
}
.etoiles:nth-child(55) {
  top: 99vh;
  left: 36vh;
}
.etoiles:nth-child(56) {
  top: 96vh;
  left: 6vh;
}
.etoiles:nth-child(57) {
  top: 39vh;
  left: 76vh;
}
.etoiles:nth-child(58) {
  top: 31vh;
  left: 21vh;
}
.etoiles:nth-child(59) {
  top: 70vh;
  left: 78vh;
}
.etoiles:nth-child(60) {
  top: 47vh;
  left: 63vh;
}
.etoiles:nth-child(61) {
  top: 87vh;
  left: 2vh;
}
.etoiles:nth-child(62) {
  top: 80vh;
  left: 43vh;
}
.etoiles:nth-child(63) {
  top: 76vh;
  left: 69vh;
}
.etoiles:nth-child(64) {
  top: 85vh;
  left: 95vh;
}
.etoiles:nth-child(65) {
  top: 50vh;
  left: 88vh;
}
.etoiles:nth-child(66) {
  top: 9vh;
  left: 84vh;
}
.etoiles:nth-child(67) {
  top: 44vh;
  left: 60vh;
}
.etoiles:nth-child(68) {
  top: 52vh;
  left: 74vh;
}
.etoiles:nth-child(69) {
  top: 84vh;
  left: 30vh;
}
.etoiles:nth-child(70) {
  top: 10vh;
  left: 63vh;
}
.etoiles:nth-child(71) {
  top: 8vh;
  left: 11vh;
}
.etoiles:nth-child(72) {
  top: 87vh;
  left: 85vh;
}
.etoiles:nth-child(73) {
  top: 14vh;
  left: 2vh;
}
.etoiles:nth-child(74) {
  top: 81vh;
  left: 22vh;
}
.etoiles:nth-child(75) {
  top: 22vh;
  left: 98vh;
}
.etoiles:nth-child(76) {
  top: 71vh;
  left: 66vh;
}
.etoiles:nth-child(77) {
  top: 50vh;
  left: 14vh;
}
.etoiles:nth-child(78) {
  top: 59vh;
  left: 62vh;
}
.etoiles:nth-child(79) {
  top: 32vh;
  left: 78vh;
}
.etoiles:nth-child(80) {
  top: 14vh;
  left: 6vh;
}
.etoiles:nth-child(81) {
  top: 8vh;
  left: 65vh;
}
.etoiles:nth-child(82) {
  top: 85vh;
  left: 36vh;
}
.etoiles:nth-child(83) {
  top: 46vh;
  left: 91vh;
}
.etoiles:nth-child(84) {
  top: 14vh;
  left: 65vh;
}
.etoiles:nth-child(85) {
  top: 15vh;
  left: 64vh;
}
.etoiles:nth-child(86) {
  top: 85vh;
  left: 36vh;
}
.etoiles:nth-child(87) {
  top: 28vh;
  left: 4vh;
}
.etoiles:nth-child(88) {
  top: 20vh;
  left: 74vh;
}
.etoiles:nth-child(89) {
  top: 39vh;
  left: 13vh;
}
.etoiles:nth-child(90) {
  top: 58vh;
  left: 83vh;
}
.etoiles:nth-child(91) {
  top: 44vh;
  left: 35vh;
}
.etoiles:nth-child(92) {
  top: 15vh;
  left: 32vh;
}
.etoiles:nth-child(93) {
  top: 33vh;
  left: 85vh;
}
.etoiles:nth-child(94) {
  top: 98vh;
  left: 58vh;
}
.etoiles:nth-child(95) {
  top: 51vh;
  left: 73vh;
}
.etoiles:nth-child(96) {
  top: 79vh;
  left: 15vh;
}
.etoiles:nth-child(97) {
  top: 74vh;
  left: 29vh;
}
.etoiles:nth-child(98) {
  top: 70vh;
  left: 51vh;
}
.etoiles:nth-child(99) {
  top: 52vh;
  left: 90vh;
}
.etoiles:nth-child(100) {
  top: 4vh;
  left: 74vh;
}
.etoiles:nth-child(101) {
  top: 72vh;
  left: 31vh;
}
.etoiles:nth-child(102) {
  top: 83vh;
  left: 1vh;
}
.etoiles:nth-child(103) {
  top: 16vh;
  left: 29vh;
}
.etoiles:nth-child(104) {
  top: 37vh;
  left: 58vh;
}
.etoiles:nth-child(105) {
  top: 77vh;
  left: 62vh;
}
.etoiles:nth-child(106) {
  top: 32vh;
  left: 40vh;
}
.etoiles:nth-child(107) {
  top: 2vh;
  left: 85vh;
}
.etoiles:nth-child(108) {
  top: 15vh;
  left: 59vh;
}
.etoiles:nth-child(109) {
  top: 79vh;
  left: 88vh;
}
.etoiles:nth-child(110) {
  top: 93vh;
  left: 43vh;
}
.etoiles:nth-child(111) {
  top: 69vh;
  left: 8vh;
}
.etoiles:nth-child(112) {
  top: 48vh;
  left: 18vh;
}
.etoiles:nth-child(113) {
  top: 90vh;
  left: 87vh;
}
.etoiles:nth-child(114) {
  top: 90vh;
  left: 100vh;
}
.etoiles:nth-child(115) {
  top: 89vh;
  left: 61vh;
}
.etoiles:nth-child(116) {
  top: 52vh;
  left: 14vh;
}
.etoiles:nth-child(117) {
  top: 1vh;
  left: 90vh;
}
.etoiles:nth-child(118) {
  top: 76vh;
  left: 15vh;
}
.etoiles:nth-child(119) {
  top: 27vh;
  left: 79vh;
}
.etoiles:nth-child(120) {
  top: 56vh;
  left: 86vh;
}
.etoiles:nth-child(121) {
  top: 90vh;
  left: 64vh;
}
.etoiles:nth-child(122) {
  top: 60vh;
  left: 34vh;
}
.etoiles:nth-child(123) {
  top: 62vh;
  left: 44vh;
}
.etoiles:nth-child(124) {
  top: 43vh;
  left: 51vh;
}
.etoiles:nth-child(125) {
  top: 17vh;
  left: 28vh;
}
.etoiles:nth-child(126) {
  top: 98vh;
  left: 10vh;
}
.etoiles:nth-child(127) {
  top: 8vh;
  left: 44vh;
}
.etoiles:nth-child(128) {
  top: 14vh;
  left: 99vh;
}
.etoiles:nth-child(129) {
  top: 56vh;
  left: 20vh;
}
.etoiles:nth-child(130) {
  top: 18vh;
  left: 65vh;
}
.etoiles:nth-child(131) {
  top: 4vh;
  left: 43vh;
}
.etoiles:nth-child(132) {
  top: 46vh;
  left: 7vh;
}
.etoiles:nth-child(133) {
  top: 52vh;
  left: 96vh;
}
.etoiles:nth-child(134) {
  top: 48vh;
  left: 27vh;
}
.etoiles:nth-child(135) {
  top: 91vh;
  left: 38vh;
}
.etoiles:nth-child(136) {
  top: 74vh;
  left: 7vh;
}
.etoiles:nth-child(137) {
  top: 97vh;
  left: 61vh;
}
.etoiles:nth-child(138) {
  top: 64vh;
  left: 88vh;
}
.etoiles:nth-child(139) {
  top: 17vh;
  left: 100vh;
}
.etoiles:nth-child(140) {
  top: 50vh;
  left: 5vh;
}
.etoiles:nth-child(141) {
  top: 5vh;
  left: 87vh;
}
.etoiles:nth-child(142) {
  top: 19vh;
  left: 19vh;
}
.etoiles:nth-child(143) {
  top: 15vh;
  left: 55vh;
}
.etoiles:nth-child(144) {
  top: 80vh;
  left: 16vh;
}
.etoiles:nth-child(145) {
  top: 93vh;
  left: 35vh;
}
.etoiles:nth-child(146) {
  top: 91vh;
  left: 28vh;
}
.etoiles:nth-child(147) {
  top: 56vh;
  left: 54vh;
}
.etoiles:nth-child(148) {
  top: 8vh;
  left: 74vh;
}
.etoiles:nth-child(149) {
  top: 40vh;
  left: 46vh;
}
.etoiles:nth-child(150) {
  top: 22vh;
  left: 44vh;
}
.etoiles:nth-child(151) {
  top: 36vh;
  left: 37vh;
}
.etoiles:nth-child(152) {
  top: 26vh;
  left: 37vh;
}
.etoiles:nth-child(153) {
  top: 7vh;
  left: 67vh;
}
.etoiles:nth-child(154) {
  top: 64vh;
  left: 61vh;
}
.etoiles:nth-child(155) {
  top: 70vh;
  left: 47vh;
}
.etoiles:nth-child(156) {
  top: 79vh;
  left: 95vh;
}
.etoiles:nth-child(157) {
  top: 75vh;
  left: 88vh;
}
.etoiles:nth-child(158) {
  top: 79vh;
  left: 86vh;
}
.etoiles:nth-child(159) {
  top: 35vh;
  left: 45vh;
}
.etoiles:nth-child(160) {
  top: 67vh;
  left: 81vh;
}
.etoiles:nth-child(161) {
  top: 33vh;
  left: 23vh;
}
.etoiles:nth-child(162) {
  top: 55vh;
  left: 2vh;
}
.etoiles:nth-child(163) {
  top: 73vh;
  left: 20vh;
}
.etoiles:nth-child(164) {
  top: 2vh;
  left: 50vh;
}
.etoiles:nth-child(165) {
  top: 17vh;
  left: 81vh;
}
.etoiles:nth-child(166) {
  top: 20vh;
  left: 12vh;
}
.etoiles:nth-child(167) {
  top: 82vh;
  left: 29vh;
}
.etoiles:nth-child(168) {
  top: 10vh;
  left: 62vh;
}
.etoiles:nth-child(169) {
  top: 16vh;
  left: 70vh;
}
.etoiles:nth-child(170) {
  top: 31vh;
  left: 81vh;
}
.etoiles:nth-child(171) {
  top: 42vh;
  left: 41vh;
}
.etoiles:nth-child(172) {
  top: 76vh;
  left: 80vh;
}
.etoiles:nth-child(173) {
  top: 79vh;
  left: 63vh;
}
.etoiles:nth-child(174) {
  top: 6vh;
  left: 1vh;
}
.etoiles:nth-child(175) {
  top: 4vh;
  left: 60vh;
}
.etoiles:nth-child(176) {
  top: 91vh;
  left: 90vh;
}
.etoiles:nth-child(177) {
  top: 81vh;
  left: 2vh;
}
.etoiles:nth-child(178) {
  top: 51vh;
  left: 84vh;
}
.etoiles:nth-child(179) {
  top: 24vh;
  left: 89vh;
}
.etoiles:nth-child(180) {
  top: 62vh;
  left: 33vh;
}
.etoiles:nth-child(181) {
  top: 36vh;
  left: 13vh;
}
.etoiles:nth-child(182) {
  top: 34vh;
  left: 79vh;
}
.etoiles:nth-child(183) {
  top: 47vh;
  left: 94vh;
}
.etoiles:nth-child(184) {
  top: 8vh;
  left: 78vh;
}
.etoiles:nth-child(185) {
  top: 93vh;
  left: 100vh;
}
.etoiles:nth-child(186) {
  top: 50vh;
  left: 53vh;
}
.etoiles:nth-child(187) {
  top: 25vh;
  left: 27vh;
}
.etoiles:nth-child(188) {
  top: 29vh;
  left: 15vh;
}
.etoiles:nth-child(189) {
  top: 46vh;
  left: 2vh;
}
.etoiles:nth-child(190) {
  top: 10vh;
  left: 17vh;
}
.etoiles:nth-child(191) {
  top: 48vh;
  left: 59vh;
}
.etoiles:nth-child(192) {
  top: 52vh;
  left: 99vh;
}
.etoiles:nth-child(193) {
  top: 32vh;
  left: 47vh;
}
.etoiles:nth-child(194) {
  top: 81vh;
  left: 55vh;
}
.etoiles:nth-child(195) {
  top: 41vh;
  left: 22vh;
}
.etoiles:nth-child(196) {
  top: 78vh;
  left: 74vh;
}
.etoiles:nth-child(197) {
  top: 97vh;
  left: 90vh;
}
.etoiles:nth-child(198) {
  top: 15vh;
  left: 70vh;
}
.etoiles:nth-child(199) {
  top: 55vh;
  left: 78vh;
}
.etoiles:nth-child(200) {
  top: 72vh;
  left: 8vh;
}
.etoiles:nth-child(201) {
  top: 46vh;
  left: 51vh;
}
.etoiles:nth-child(202) {
  top: 99vh;
  left: 30vh;
}
.etoiles:nth-child(203) {
  top: 63vh;
  left: 54vh;
}
.etoiles:nth-child(204) {
  top: 92vh;
  left: 19vh;
}
.etoiles:nth-child(205) {
  top: 20vh;
  left: 59vh;
}
.etoiles:nth-child(206) {
  top: 74vh;
  left: 93vh;
}
.etoiles:nth-child(207) {
  top: 6vh;
  left: 79vh;
}
.etoiles:nth-child(208) {
  top: 3vh;
  left: 86vh;
}
.etoiles:nth-child(209) {
  top: 61vh;
  left: 8vh;
}
.etoiles:nth-child(210) {
  top: 43vh;
  left: 65vh;
}
.etoiles:nth-child(211) {
  top: 77vh;
  left: 6vh;
}
.etoiles:nth-child(212) {
  top: 6vh;
  left: 22vh;
}
.etoiles:nth-child(213) {
  top: 81vh;
  left: 83vh;
}
.etoiles:nth-child(214) {
  top: 34vh;
  left: 16vh;
}
.etoiles:nth-child(215) {
  top: 24vh;
  left: 19vh;
}
.etoiles:nth-child(216) {
  top: 96vh;
  left: 10vh;
}
.etoiles:nth-child(217) {
  top: 37vh;
  left: 29vh;
}
.etoiles:nth-child(218) {
  top: 100vh;
  left: 15vh;
}
.etoiles:nth-child(219) {
  top: 29vh;
  left: 55vh;
}
.etoiles:nth-child(220) {
  top: 84vh;
  left: 77vh;
}
.etoiles:nth-child(221) {
  top: 86vh;
  left: 83vh;
}
.etoiles:nth-child(222) {
  top: 70vh;
  left: 91vh;
}
.etoiles:nth-child(223) {
  top: 10vh;
  left: 27vh;
}
.etoiles:nth-child(224) {
  top: 53vh;
  left: 84vh;
}
.etoiles:nth-child(225) {
  top: 17vh;
  left: 30vh;
}
.etoiles:nth-child(226) {
  top: 33vh;
  left: 36vh;
}
.etoiles:nth-child(227) {
  top: 40vh;
  left: 96vh;
}
.etoiles:nth-child(228) {
  top: 43vh;
  left: 46vh;
}
.etoiles:nth-child(229) {
  top: 84vh;
  left: 24vh;
}
.etoiles:nth-child(230) {
  top: 87vh;
  left: 79vh;
}
.etoiles:nth-child(231) {
  top: 30vh;
  left: 90vh;
}
.etoiles:nth-child(232) {
  top: 98vh;
  left: 97vh;
}
.etoiles:nth-child(233) {
  top: 82vh;
  left: 17vh;
}
.etoiles:nth-child(234) {
  top: 23vh;
  left: 1vh;
}
.etoiles:nth-child(235) {
  top: 59vh;
  left: 95vh;
}
.etoiles:nth-child(236) {
  top: 59vh;
  left: 95vh;
}
.etoiles:nth-child(237) {
  top: 33vh;
  left: 79vh;
}
.etoiles:nth-child(238) {
  top: 51vh;
  left: 38vh;
}
.etoiles:nth-child(239) {
  top: 53vh;
  left: 23vh;
}
.etoiles:nth-child(240) {
  top: 40vh;
  left: 55vh;
}
.etoiles:nth-child(241) {
  top: 16vh;
  left: 67vh;
}
.etoiles:nth-child(242) {
  top: 98vh;
  left: 79vh;
}
.etoiles:nth-child(243) {
  top: 96vh;
  left: 30vh;
}
.etoiles:nth-child(244) {
  top: 70vh;
  left: 46vh;
}
.etoiles:nth-child(245) {
  top: 34vh;
  left: 65vh;
}
.etoiles:nth-child(246) {
  top: 25vh;
  left: 100vh;
}
.etoiles:nth-child(247) {
  top: 38vh;
  left: 95vh;
}
.etoiles:nth-child(248) {
  top: 49vh;
  left: 29vh;
}
.etoiles:nth-child(249) {
  top: 5vh;
  left: 5vh;
}
.etoiles:nth-child(250) {
  top: 45vh;
  left: 57vh;
}
.etoiles:nth-child(251) {
  bottom: 96vh;
  right: 75vh;
}
.etoiles:nth-child(252) {
  bottom: 29vh;
  right: 70vh;
}
.etoiles:nth-child(253) {
  bottom: 7vh;
  right: 76vh;
}
.etoiles:nth-child(254) {
  bottom: 82vh;
  right: 43vh;
}
.etoiles:nth-child(255) {
  bottom: 22vh;
  right: 31vh;
}
.etoiles:nth-child(256) {
  bottom: 61vh;
  right: 85vh;
}
.etoiles:nth-child(257) {
  bottom: 2vh;
  right: 10vh;
}
.etoiles:nth-child(258) {
  bottom: 21vh;
  right: 87vh;
}
.etoiles:nth-child(259) {
  bottom: 17vh;
  right: 61vh;
}
.etoiles:nth-child(260) {
  bottom: 27vh;
  right: 61vh;
}
.etoiles:nth-child(261) {
  bottom: 96vh;
  right: 81vh;
}
.etoiles:nth-child(262) {
  bottom: 86vh;
  right: 3vh;
}
.etoiles:nth-child(263) {
  bottom: 4vh;
  right: 40vh;
}
.etoiles:nth-child(264) {
  bottom: 44vh;
  right: 26vh;
}
.etoiles:nth-child(265) {
  bottom: 63vh;
  right: 30vh;
}
.etoiles:nth-child(266) {
  bottom: 89vh;
  right: 33vh;
}
.etoiles:nth-child(267) {
  bottom: 93vh;
  right: 68vh;
}
.etoiles:nth-child(268) {
  bottom: 89vh;
  right: 98vh;
}
.etoiles:nth-child(269) {
  bottom: 50vh;
  right: 51vh;
}
.etoiles:nth-child(270) {
  bottom: 20vh;
  right: 59vh;
}
.etoiles:nth-child(271) {
  bottom: 76vh;
  right: 29vh;
}
.etoiles:nth-child(272) {
  bottom: 50vh;
  right: 5vh;
}
.etoiles:nth-child(273) {
  bottom: 40vh;
  right: 53vh;
}
.etoiles:nth-child(274) {
  bottom: 5vh;
  right: 31vh;
}
.etoiles:nth-child(275) {
  bottom: 53vh;
  right: 89vh;
}
.etoiles:nth-child(276) {
  bottom: 34vh;
  right: 8vh;
}
.etoiles:nth-child(277) {
  bottom: 16vh;
  right: 41vh;
}
.etoiles:nth-child(278) {
  bottom: 5vh;
  right: 49vh;
}
.etoiles:nth-child(279) {
  bottom: 23vh;
  right: 56vh;
}
.etoiles:nth-child(280) {
  bottom: 6vh;
  right: 32vh;
}
.etoiles:nth-child(281) {
  bottom: 3vh;
  right: 48vh;
}
.etoiles:nth-child(282) {
  bottom: 83vh;
  right: 20vh;
}
.etoiles:nth-child(283) {
  bottom: 79vh;
  right: 96vh;
}
.etoiles:nth-child(284) {
  bottom: 60vh;
  right: 46vh;
}
.etoiles:nth-child(285) {
  bottom: 20vh;
  right: 56vh;
}
.etoiles:nth-child(286) {
  bottom: 56vh;
  right: 24vh;
}
.etoiles:nth-child(287) {
  bottom: 75vh;
  right: 97vh;
}
.etoiles:nth-child(288) {
  bottom: 16vh;
  right: 41vh;
}
.etoiles:nth-child(289) {
  bottom: 12vh;
  right: 18vh;
}
.etoiles:nth-child(290) {
  bottom: 94vh;
  right: 10vh;
}
.etoiles:nth-child(291) {
  bottom: 52vh;
  right: 61vh;
}
.etoiles:nth-child(292) {
  bottom: 98vh;
  right: 10vh;
}
.etoiles:nth-child(293) {
  bottom: 87vh;
  right: 9vh;
}
.etoiles:nth-child(294) {
  bottom: 29vh;
  right: 61vh;
}
.etoiles:nth-child(295) {
  bottom: 70vh;
  right: 27vh;
}
.etoiles:nth-child(296) {
  bottom: 80vh;
  right: 85vh;
}
.etoiles:nth-child(297) {
  bottom: 26vh;
  right: 42vh;
}
.etoiles:nth-child(298) {
  bottom: 61vh;
  right: 74vh;
}
.etoiles:nth-child(299) {
  bottom: 52vh;
  right: 94vh;
}
.etoiles:nth-child(300) {
  bottom: 92vh;
  right: 63vh;
}
.etoiles:nth-child(301) {
  bottom: 79vh;
  right: 33vh;
}
.etoiles:nth-child(302) {
  bottom: 68vh;
  right: 9vh;
}
.etoiles:nth-child(303) {
  bottom: 44vh;
  right: 48vh;
}
.etoiles:nth-child(304) {
  bottom: 49vh;
  right: 76vh;
}
.etoiles:nth-child(305) {
  bottom: 40vh;
  right: 31vh;
}
.etoiles:nth-child(306) {
  bottom: 19vh;
  right: 75vh;
}
.etoiles:nth-child(307) {
  bottom: 31vh;
  right: 81vh;
}
.etoiles:nth-child(308) {
  bottom: 22vh;
  right: 49vh;
}
.etoiles:nth-child(309) {
  bottom: 2vh;
  right: 50vh;
}
.etoiles:nth-child(310) {
  bottom: 80vh;
  right: 29vh;
}
.etoiles:nth-child(311) {
  bottom: 40vh;
  right: 84vh;
}
.etoiles:nth-child(312) {
  bottom: 32vh;
  right: 85vh;
}
.etoiles:nth-child(313) {
  bottom: 49vh;
  right: 61vh;
}
.etoiles:nth-child(314) {
  bottom: 50vh;
  right: 95vh;
}
.etoiles:nth-child(315) {
  bottom: 88vh;
  right: 36vh;
}
.etoiles:nth-child(316) {
  bottom: 88vh;
  right: 3vh;
}
.etoiles:nth-child(317) {
  bottom: 14vh;
  right: 100vh;
}
.etoiles:nth-child(318) {
  bottom: 72vh;
  right: 22vh;
}
.etoiles:nth-child(319) {
  bottom: 95vh;
  right: 15vh;
}
.etoiles:nth-child(320) {
  bottom: 4vh;
  right: 50vh;
}
.etoiles:nth-child(321) {
  bottom: 87vh;
  right: 56vh;
}
.etoiles:nth-child(322) {
  bottom: 80vh;
  right: 77vh;
}
.etoiles:nth-child(323) {
  bottom: 80vh;
  right: 81vh;
}
.etoiles:nth-child(324) {
  bottom: 71vh;
  right: 59vh;
}
.etoiles:nth-child(325) {
  bottom: 18vh;
  right: 65vh;
}
.etoiles:nth-child(326) {
  bottom: 66vh;
  right: 52vh;
}
.etoiles:nth-child(327) {
  bottom: 14vh;
  right: 8vh;
}
.etoiles:nth-child(328) {
  bottom: 77vh;
  right: 34vh;
}
.etoiles:nth-child(329) {
  bottom: 46vh;
  right: 56vh;
}
.etoiles:nth-child(330) {
  bottom: 31vh;
  right: 35vh;
}
.etoiles:nth-child(331) {
  bottom: 3vh;
  right: 46vh;
}
.etoiles:nth-child(332) {
  bottom: 38vh;
  right: 20vh;
}
.etoiles:nth-child(333) {
  bottom: 65vh;
  right: 79vh;
}
.etoiles:nth-child(334) {
  bottom: 68vh;
  right: 94vh;
}
.etoiles:nth-child(335) {
  bottom: 52vh;
  right: 95vh;
}
.etoiles:nth-child(336) {
  bottom: 14vh;
  right: 96vh;
}
.etoiles:nth-child(337) {
  bottom: 23vh;
  right: 49vh;
}
.etoiles:nth-child(338) {
  bottom: 2vh;
  right: 30vh;
}
.etoiles:nth-child(339) {
  bottom: 9vh;
  right: 34vh;
}
.etoiles:nth-child(340) {
  bottom: 51vh;
  right: 39vh;
}
.etoiles:nth-child(341) {
  bottom: 28vh;
  right: 52vh;
}
.etoiles:nth-child(342) {
  bottom: 5vh;
  right: 76vh;
}
.etoiles:nth-child(343) {
  bottom: 46vh;
  right: 6vh;
}
.etoiles:nth-child(344) {
  bottom: 1vh;
  right: 76vh;
}
.etoiles:nth-child(345) {
  bottom: 21vh;
  right: 34vh;
}
.etoiles:nth-child(346) {
  bottom: 67vh;
  right: 3vh;
}
.etoiles:nth-child(347) {
  bottom: 24vh;
  right: 85vh;
}
.etoiles:nth-child(348) {
  bottom: 12vh;
  right: 89vh;
}
.etoiles:nth-child(349) {
  bottom: 87vh;
  right: 48vh;
}
.etoiles:nth-child(350) {
  bottom: 36vh;
  right: 34vh;
}
.etoiles:nth-child(351) {
  bottom: 80vh;
  right: 12vh;
}
.etoiles:nth-child(352) {
  bottom: 24vh;
  right: 66vh;
}
.etoiles:nth-child(353) {
  bottom: 86vh;
  right: 68vh;
}
.etoiles:nth-child(354) {
  bottom: 93vh;
  right: 97vh;
}
.etoiles:nth-child(355) {
  bottom: 78vh;
  right: 31vh;
}
.etoiles:nth-child(356) {
  bottom: 74vh;
  right: 40vh;
}
.etoiles:nth-child(357) {
  bottom: 71vh;
  right: 80vh;
}
.etoiles:nth-child(358) {
  bottom: 87vh;
  right: 78vh;
}
.etoiles:nth-child(359) {
  bottom: 75vh;
  right: 74vh;
}
.etoiles:nth-child(360) {
  bottom: 57vh;
  right: 66vh;
}
.etoiles:nth-child(361) {
  bottom: 84vh;
  right: 66vh;
}
.etoiles:nth-child(362) {
  bottom: 98vh;
  right: 57vh;
}
.etoiles:nth-child(363) {
  bottom: 59vh;
  right: 38vh;
}
.etoiles:nth-child(364) {
  bottom: 59vh;
  right: 88vh;
}
.etoiles:nth-child(365) {
  bottom: 85vh;
  right: 32vh;
}
.etoiles:nth-child(366) {
  bottom: 99vh;
  right: 38vh;
}
.etoiles:nth-child(367) {
  bottom: 59vh;
  right: 84vh;
}
.etoiles:nth-child(368) {
  bottom: 51vh;
  right: 43vh;
}
.etoiles:nth-child(369) {
  bottom: 6vh;
  right: 38vh;
}
.etoiles:nth-child(370) {
  bottom: 90vh;
  right: 83vh;
}
.etoiles:nth-child(371) {
  bottom: 17vh;
  right: 8vh;
}
.etoiles:nth-child(372) {
  bottom: 69vh;
  right: 71vh;
}
.etoiles:nth-child(373) {
  bottom: 14vh;
  right: 7vh;
}
.etoiles:nth-child(374) {
  bottom: 5vh;
  right: 29vh;
}
.etoiles:nth-child(375) {
  bottom: 56vh;
  right: 81vh;
}
.etoiles:nth-child(376) {
  bottom: 28vh;
  right: 38vh;
}
.etoiles:nth-child(377) {
  bottom: 60vh;
  right: 64vh;
}
.etoiles:nth-child(378) {
  bottom: 31vh;
  right: 59vh;
}
.etoiles:nth-child(379) {
  bottom: 87vh;
  right: 89vh;
}
.etoiles:nth-child(380) {
  bottom: 87vh;
  right: 69vh;
}
.etoiles:nth-child(381) {
  bottom: 32vh;
  right: 37vh;
}
.etoiles:nth-child(382) {
  bottom: 98vh;
  right: 55vh;
}
.etoiles:nth-child(383) {
  bottom: 78vh;
  right: 53vh;
}
.etoiles:nth-child(384) {
  bottom: 7vh;
  right: 54vh;
}
.etoiles:nth-child(385) {
  bottom: 99vh;
  right: 29vh;
}
.etoiles:nth-child(386) {
  bottom: 25vh;
  right: 12vh;
}
.etoiles:nth-child(387) {
  bottom: 58vh;
  right: 99vh;
}
.etoiles:nth-child(388) {
  bottom: 35vh;
  right: 25vh;
}
.etoiles:nth-child(389) {
  bottom: 13vh;
  right: 99vh;
}
.etoiles:nth-child(390) {
  bottom: 27vh;
  right: 78vh;
}
.etoiles:nth-child(391) {
  bottom: 92vh;
  right: 18vh;
}
.etoiles:nth-child(392) {
  bottom: 83vh;
  right: 34vh;
}
.etoiles:nth-child(393) {
  bottom: 69vh;
  right: 35vh;
}
.etoiles:nth-child(394) {
  bottom: 1vh;
  right: 79vh;
}
.etoiles:nth-child(395) {
  bottom: 83vh;
  right: 25vh;
}
.etoiles:nth-child(396) {
  bottom: 25vh;
  right: 31vh;
}
.etoiles:nth-child(397) {
  bottom: 70vh;
  right: 48vh;
}
.etoiles:nth-child(398) {
  bottom: 69vh;
  right: 5vh;
}
.etoiles:nth-child(399) {
  bottom: 27vh;
  right: 4vh;
}
.etoiles:nth-child(400) {
  bottom: 94vh;
  right: 36vh;
}
.etoiles:nth-child(401) {
  bottom: 70vh;
  right: 58vh;
}
.etoiles:nth-child(402) {
  bottom: 77vh;
  right: 80vh;
}
.etoiles:nth-child(403) {
  bottom: 16vh;
  right: 11vh;
}
.etoiles:nth-child(404) {
  bottom: 45vh;
  right: 81vh;
}
.etoiles:nth-child(405) {
  bottom: 83vh;
  right: 10vh;
}
.etoiles:nth-child(406) {
  bottom: 94vh;
  right: 42vh;
}
.etoiles:nth-child(407) {
  bottom: 57vh;
  right: 47vh;
}
.etoiles:nth-child(408) {
  bottom: 96vh;
  right: 77vh;
}
.etoiles:nth-child(409) {
  bottom: 35vh;
  right: 6vh;
}
.etoiles:nth-child(410) {
  bottom: 19vh;
  right: 79vh;
}
.etoiles:nth-child(411) {
  bottom: 37vh;
  right: 26vh;
}
.etoiles:nth-child(412) {
  bottom: 44vh;
  right: 51vh;
}
.etoiles:nth-child(413) {
  bottom: 22vh;
  right: 27vh;
}
.etoiles:nth-child(414) {
  bottom: 30vh;
  right: 11vh;
}
.etoiles:nth-child(415) {
  bottom: 71vh;
  right: 8vh;
}
.etoiles:nth-child(416) {
  bottom: 16vh;
  right: 10vh;
}
.etoiles:nth-child(417) {
  bottom: 52vh;
  right: 2vh;
}
.etoiles:nth-child(418) {
  bottom: 8vh;
  right: 96vh;
}
.etoiles:nth-child(419) {
  bottom: 80vh;
  right: 51vh;
}
.etoiles:nth-child(420) {
  bottom: 77vh;
  right: 65vh;
}
.etoiles:nth-child(421) {
  bottom: 20vh;
  right: 64vh;
}
.etoiles:nth-child(422) {
  bottom: 12vh;
  right: 35vh;
}
.etoiles:nth-child(423) {
  bottom: 79vh;
  right: 85vh;
}
.etoiles:nth-child(424) {
  bottom: 34vh;
  right: 56vh;
}
.etoiles:nth-child(425) {
  bottom: 44vh;
  right: 17vh;
}
.etoiles:nth-child(426) {
  bottom: 24vh;
  right: 59vh;
}
.etoiles:nth-child(427) {
  bottom: 86vh;
  right: 22vh;
}
.etoiles:nth-child(428) {
  bottom: 55vh;
  right: 13vh;
}
.etoiles:nth-child(429) {
  bottom: 12vh;
  right: 35vh;
}
.etoiles:nth-child(430) {
  bottom: 85vh;
  right: 24vh;
}
.etoiles:nth-child(431) {
  bottom: 91vh;
  right: 44vh;
}
.etoiles:nth-child(432) {
  bottom: 10vh;
  right: 40vh;
}
.etoiles:nth-child(433) {
  bottom: 60vh;
  right: 18vh;
}
.etoiles:nth-child(434) {
  bottom: 47vh;
  right: 26vh;
}
.etoiles:nth-child(435) {
  bottom: 4vh;
  right: 38vh;
}
.etoiles:nth-child(436) {
  bottom: 32vh;
  right: 3vh;
}
.etoiles:nth-child(437) {
  bottom: 36vh;
  right: 30vh;
}
.etoiles:nth-child(438) {
  bottom: 48vh;
  right: 6vh;
}
.etoiles:nth-child(439) {
  bottom: 50vh;
  right: 59vh;
}
.etoiles:nth-child(440) {
  bottom: 71vh;
  right: 84vh;
}
.etoiles:nth-child(441) {
  bottom: 76vh;
  right: 93vh;
}
.etoiles:nth-child(442) {
  bottom: 99vh;
  right: 15vh;
}
.etoiles:nth-child(443) {
  bottom: 5vh;
  right: 94vh;
}
.etoiles:nth-child(444) {
  bottom: 6vh;
  right: 76vh;
}
.etoiles:nth-child(445) {
  bottom: 67vh;
  right: 32vh;
}
.etoiles:nth-child(446) {
  bottom: 43vh;
  right: 26vh;
}
.etoiles:nth-child(447) {
  bottom: 71vh;
  right: 7vh;
}
.etoiles:nth-child(448) {
  bottom: 58vh;
  right: 2vh;
}
.etoiles:nth-child(449) {
  bottom: 31vh;
  right: 96vh;
}
.etoiles:nth-child(450) {
  bottom: 44vh;
  right: 68vh;
}
.etoiles:nth-child(451) {
  bottom: 31vh;
  right: 36vh;
}
.etoiles:nth-child(452) {
  bottom: 8vh;
  right: 86vh;
}
.etoiles:nth-child(453) {
  bottom: 79vh;
  right: 5vh;
}
.etoiles:nth-child(454) {
  bottom: 45vh;
  right: 35vh;
}
.etoiles:nth-child(455) {
  bottom: 93vh;
  right: 54vh;
}
.etoiles:nth-child(456) {
  bottom: 92vh;
  right: 87vh;
}
.etoiles:nth-child(457) {
  bottom: 54vh;
  right: 80vh;
}
.etoiles:nth-child(458) {
  bottom: 71vh;
  right: 11vh;
}
.etoiles:nth-child(459) {
  bottom: 63vh;
  right: 75vh;
}
.etoiles:nth-child(460) {
  bottom: 52vh;
  right: 19vh;
}
.etoiles:nth-child(461) {
  bottom: 20vh;
  right: 57vh;
}
.etoiles:nth-child(462) {
  bottom: 51vh;
  right: 3vh;
}
.etoiles:nth-child(463) {
  bottom: 34vh;
  right: 47vh;
}
.etoiles:nth-child(464) {
  bottom: 80vh;
  right: 24vh;
}
.etoiles:nth-child(465) {
  bottom: 25vh;
  right: 93vh;
}
.etoiles:nth-child(466) {
  bottom: 43vh;
  right: 81vh;
}
.etoiles:nth-child(467) {
  bottom: 93vh;
  right: 41vh;
}
.etoiles:nth-child(468) {
  bottom: 66vh;
  right: 33vh;
}
.etoiles:nth-child(469) {
  bottom: 94vh;
  right: 67vh;
}
.etoiles:nth-child(470) {
  bottom: 69vh;
  right: 81vh;
}
.etoiles:nth-child(471) {
  bottom: 61vh;
  right: 14vh;
}
.etoiles:nth-child(472) {
  bottom: 12vh;
  right: 7vh;
}
.etoiles:nth-child(473) {
  bottom: 82vh;
  right: 57vh;
}
.etoiles:nth-child(474) {
  bottom: 4vh;
  right: 75vh;
}
.etoiles:nth-child(475) {
  bottom: 1vh;
  right: 13vh;
}
.etoiles:nth-child(476) {
  bottom: 46vh;
  right: 59vh;
}
.etoiles:nth-child(477) {
  bottom: 24vh;
  right: 66vh;
}
.etoiles:nth-child(478) {
  bottom: 89vh;
  right: 50vh;
}
.etoiles:nth-child(479) {
  bottom: 45vh;
  right: 37vh;
}
.etoiles:nth-child(480) {
  bottom: 69vh;
  right: 45vh;
}
.etoiles:nth-child(481) {
  bottom: 52vh;
  right: 55vh;
}
.etoiles:nth-child(482) {
  bottom: 36vh;
  right: 43vh;
}
.etoiles:nth-child(483) {
  bottom: 59vh;
  right: 81vh;
}
.etoiles:nth-child(484) {
  bottom: 79vh;
  right: 58vh;
}
.etoiles:nth-child(485) {
  bottom: 52vh;
  right: 82vh;
}
.etoiles:nth-child(486) {
  bottom: 50vh;
  right: 41vh;
}
.etoiles:nth-child(487) {
  bottom: 89vh;
  right: 53vh;
}
.etoiles:nth-child(488) {
  bottom: 39vh;
  right: 41vh;
}
.etoiles:nth-child(489) {
  bottom: 63vh;
  right: 25vh;
}
.etoiles:nth-child(490) {
  bottom: 89vh;
  right: 42vh;
}
.etoiles:nth-child(491) {
  bottom: 37vh;
  right: 18vh;
}
.etoiles:nth-child(492) {
  bottom: 31vh;
  right: 5vh;
}
.etoiles:nth-child(493) {
  bottom: 30vh;
  right: 57vh;
}
.etoiles:nth-child(494) {
  bottom: 26vh;
  right: 17vh;
}
.etoiles:nth-child(495) {
  bottom: 22vh;
  right: 40vh;
}
.etoiles:nth-child(496) {
  bottom: 74vh;
  right: 2vh;
}
.etoiles:nth-child(497) {
  bottom: 66vh;
  right: 57vh;
}
.etoiles:nth-child(498) {
  bottom: 10vh;
  right: 97vh;
}
.etoiles:nth-child(499) {
  bottom: 68vh;
  right: 96vh;
}
.etoiles:nth-child(500) {
  bottom: 4vh;
  right: 23vh;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(63vh) rotate(123deg);
  }
  100% {
    transform: rotate(255deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(63vh) rotate(123deg);
  }
  100% {
    transform: rotate(255deg);
  }
}
.return {
  width: 7vw;
  height: 7vh;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 0;
  font-size: 4em;
  z-index: 1000;
}
.return ion-icon {
  color: white;
  transition: 0.5s;
  -webkit-animation: animate 0.5s infinite linear;
          animation: animate 0.5s infinite linear;
}
.return ion-icon:hover {
  color: orange;
}
@-webkit-keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.transition-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 1000;
}

.transition-container.slide .transition1 {
  position: fixed;
  background-color: #00efff;
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition2 {
  position: fixed;
  background-color: orange;
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition3 {
  position: fixed;
  background-color: green;
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

@-webkit-keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}

@keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}/*# sourceMappingURL=style.css.map */