
@font-face {
    font-family:'karla' ;
    src: url("Karla-VariableFont_wght.ttf");
}

*{
    padding: 0;
    margin: 0.5%;
    font-family: 'karla';

}
html{
    background: url(image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition:3s;}
body{
    background-repeat:no-repeat;

}


#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    background-color: white;
    padding: 0.5% 0% 0.5% 0%;

}

#nav-gauche, #nav-droite{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-weight: 700;
    font-family: 'karla';
}
#nav-droite{
    padding-left:2% ;
    justify-content: flex-end;
}
#nav-gauche{
    padding-left: 2%;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#liste-droite{
    width: 60%;
}
li{
    display: flex;
}

#find{
    width: 25%;
}

#account{
    width: 22%;
}

#section-1{
    display: flex;
    flex-direction: row;
}

#gauche, #droite{

    color: white;
    transition:2s;

}

#droite{
    width: 35%;
}

#gauche{
    width: 65%;
}

#sous-titre{
    font-weight: 100; 
    transition:2s;
}

#aventador{
    font-size: 3.5em;
    transition:2s;
}
a:hover, a:visited{
    color: black;
    text-decoration: none;
}
#button{
    background-color: white;
    text-decoration: none;
    padding: 1.5% 3% 1.5% 3%;
    font-weight: bold;
    transition: 200ms;
}
.titre{
    font-size: 2.5em;
    text-align: center;
    transition:2s;
}
.sub-title{
    font-size: 1em;
    text-align: center;
    font-weight: 200;
    transition:2s;
}

#active{
    padding-bottom: 5%;
    border-bottom: solid #F4C25B 2px;
}
#button:hover{
    background-color: transparent;
    border: solid 3px white;
    color: white;
}

#fleche-gauche, #fleche-droite{
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
}
#fleche-gauche{
    transform: rotate(135deg);
}

#fleche-droite{
    transform: rotate(315deg);
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .transition-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    z-index: 1000;
}
.transition-container.slide .transition1{
    position: fixed;
    background-color: #00efff;
    animation: slide 0.3s ease-in-out forwards;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
}
.transition-container.slide .transition2{
    position: fixed;
    background-color: orange;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
    width: 100vw;
    height: 102vh;
    top: 0;
    right: -100vw;
}
.transition-container.slide .transition3{
    position: fixed;
    background-color: green;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
}
@keyframes slide {
    0%{
        right: -100vw;
    }
    100%{
        right: 0vw;
    }
}

.return{
    width: 7vw;
    height: 7vh;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17%;
    left: 0;
    font-size: 4em;
}

ion-icon{
    color: white;
    transition: 0.5s;
    animation: animate 0.5s infinite linear;
}
ion-icon:hover{
    color: orange;
}
@keyframes animate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}