@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1em;
  font-family: "poppins";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 10px;
}

ul li {
  list-style: none;
  text-align: center;
  color: #333;
  font-size: 3em;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  padding: 5px 20px;
  border-radius: 10px;
}

ul:hover li {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

ul li:hover {
  color: #333;
}

ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: red;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.05);
  font-size: 18vh;
  -webkit-text-stroke: 0px #000;
  letter-spacing: 100px;
}

ul li:hover::before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 10px;
}

ul li:nth-child(1):before {
  background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%);
}

ul li:nth-child(2):before {
  background: linear-gradient(to right, #007A5E, #007A5E 33.3333333333%, #CE1126 33.3333333333%, #CE1126 66.6666666667%, #FCD116 66.6666666667%, #FCD116 100%);
}

ul li:nth-child(2), ul li:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li:nth-child(2)::after {
  position: absolute;
  content: "★";
  color: #FCD116;
  -webkit-text-stroke: 0px #000;
  font-size: 4em;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

ul li:nth-child(2):hover::after {
  opacity: 1;
}

ul li:nth-child(3):before {
  background: linear-gradient(to right, red, red 33.3333333333%, white 33.3333333333%, white 66.6666666667%, red 66.6666666667%, red 100%);
}

ul li:nth-child(3)::after {
  position: absolute;
  content: "🍁";
  color: #FCD116;
  -webkit-text-stroke: 0px #000;
  font-size: 4em;
  bottom: 12%;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

ul li:nth-child(3):hover::after {
  opacity: 1;
}

.return {
  width: 7vw;
  height: 7vh;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 0;
  font-size: 4em;
}
.return ion-icon {
  color: black;
  transition: 0.5s;
  -webkit-animation: animate 0.5s infinite linear;
          animation: animate 0.5s infinite linear;
}
.return ion-icon:hover {
  color: orange;
}
@-webkit-keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.transition-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 1000;
}

.transition-container.slide .transition1 {
  position: fixed;
  background-color: rgb(153, 15, 119);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition2 {
  position: fixed;
  background-color: rgb(113, 212, 90);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition3 {
  position: fixed;
  background-color: rgb(138, 49, 148);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

@-webkit-keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}

@keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}/*# sourceMappingURL=style.css.map */