*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.dots {
  display: grid;
  grid-template-columns: repeat(20, 24px);
  grid-template-rows: repeat(20, 24px);
  place-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: hsl(var(--hue), 90%, 70%);
  border-radius: 50%;
  -webkit-animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
          animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
}
@-webkit-keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
@keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
.dot:nth-child(1) {
  --hue: 37.1567157225;
}
.dot:nth-child(2) {
  --hue: 306.6492629723;
}
.dot:nth-child(3) {
  --hue: 280.523244071;
}
.dot:nth-child(4) {
  --hue: 280.300072387;
}
.dot:nth-child(5) {
  --hue: 169.321225229;
}
.dot:nth-child(6) {
  --hue: 223.7263619864;
}
.dot:nth-child(7) {
  --hue: 63.3965734056;
}
.dot:nth-child(8) {
  --hue: 47.3181790511;
}
.dot:nth-child(9) {
  --hue: 34.0188022091;
}
.dot:nth-child(10) {
  --hue: 286.7707120776;
}
.dot:nth-child(11) {
  --hue: 162.3625957403;
}
.dot:nth-child(12) {
  --hue: 319.1184583953;
}
.dot:nth-child(13) {
  --hue: 338.204849802;
}
.dot:nth-child(14) {
  --hue: 168.705409765;
}
.dot:nth-child(15) {
  --hue: 256.3524291192;
}
.dot:nth-child(16) {
  --hue: 325.6798387123;
}
.dot:nth-child(17) {
  --hue: 250.0058180526;
}
.dot:nth-child(18) {
  --hue: 111.683671506;
}
.dot:nth-child(19) {
  --hue: 223.2193554655;
}
.dot:nth-child(20) {
  --hue: 192.9946041602;
}
.dot:nth-child(21) {
  --hue: 255.0572350601;
}
.dot:nth-child(22) {
  --hue: 183.1714536479;
}
.dot:nth-child(23) {
  --hue: 4.0345748623;
}
.dot:nth-child(24) {
  --hue: 132.5883682733;
}
.dot:nth-child(25) {
  --hue: 199.2488545655;
}
.dot:nth-child(26) {
  --hue: 226.9812685226;
}
.dot:nth-child(27) {
  --hue: 5.4296353127;
}
.dot:nth-child(28) {
  --hue: 255.2963267771;
}
.dot:nth-child(29) {
  --hue: 347.061346293;
}
.dot:nth-child(30) {
  --hue: 3.8781882075;
}
.dot:nth-child(31) {
  --hue: 233.1024934383;
}
.dot:nth-child(32) {
  --hue: 153.4167329324;
}
.dot:nth-child(33) {
  --hue: 150.0767489544;
}
.dot:nth-child(34) {
  --hue: 275.8969070609;
}
.dot:nth-child(35) {
  --hue: 177.6215932365;
}
.dot:nth-child(36) {
  --hue: 153.8664688826;
}
.dot:nth-child(37) {
  --hue: 345.3099296637;
}
.dot:nth-child(38) {
  --hue: 86.9372448314;
}
.dot:nth-child(39) {
  --hue: 245.7695744608;
}
.dot:nth-child(40) {
  --hue: 122.5134598286;
}
.dot:nth-child(41) {
  --hue: 49.9421322347;
}
.dot:nth-child(42) {
  --hue: 209.7909063235;
}
.dot:nth-child(43) {
  --hue: 99.1072554535;
}
.dot:nth-child(44) {
  --hue: 325.2155238244;
}
.dot:nth-child(45) {
  --hue: 298.7898260951;
}
.dot:nth-child(46) {
  --hue: 315.2210327669;
}
.dot:nth-child(47) {
  --hue: 96.9149635902;
}
.dot:nth-child(48) {
  --hue: 301.0367308978;
}
.dot:nth-child(49) {
  --hue: 320.5617124848;
}
.dot:nth-child(50) {
  --hue: 358.8883342884;
}
.dot:nth-child(51) {
  --hue: 59.1969818494;
}
.dot:nth-child(52) {
  --hue: 17.2913140466;
}
.dot:nth-child(53) {
  --hue: 154.2959500683;
}
.dot:nth-child(54) {
  --hue: 169.9999811581;
}
.dot:nth-child(55) {
  --hue: 204.4777491262;
}
.dot:nth-child(56) {
  --hue: 293.598642667;
}
.dot:nth-child(57) {
  --hue: 276.3784997724;
}
.dot:nth-child(58) {
  --hue: 37.642713896;
}
.dot:nth-child(59) {
  --hue: 166.930179031;
}
.dot:nth-child(60) {
  --hue: 314.4327863876;
}
.dot:nth-child(61) {
  --hue: 323.8148597785;
}
.dot:nth-child(62) {
  --hue: 347.8083305941;
}
.dot:nth-child(63) {
  --hue: 259.5741668697;
}
.dot:nth-child(64) {
  --hue: 266.388947718;
}
.dot:nth-child(65) {
  --hue: 66.4862038004;
}
.dot:nth-child(66) {
  --hue: 50.2401851978;
}
.dot:nth-child(67) {
  --hue: 202.9569006723;
}
.dot:nth-child(68) {
  --hue: 182.5037478049;
}
.dot:nth-child(69) {
  --hue: 257.0797270698;
}
.dot:nth-child(70) {
  --hue: 130.9067477111;
}
.dot:nth-child(71) {
  --hue: 324.4579557838;
}
.dot:nth-child(72) {
  --hue: 151.2153472152;
}
.dot:nth-child(73) {
  --hue: 117.1857984975;
}
.dot:nth-child(74) {
  --hue: 12.9389416559;
}
.dot:nth-child(75) {
  --hue: 40.1285451738;
}
.dot:nth-child(76) {
  --hue: 125.5631194119;
}
.dot:nth-child(77) {
  --hue: 342.5450145255;
}
.dot:nth-child(78) {
  --hue: 13.5225114702;
}
.dot:nth-child(79) {
  --hue: 336.1157915712;
}
.dot:nth-child(80) {
  --hue: 51.3981838142;
}
.dot:nth-child(81) {
  --hue: 74.3232524216;
}
.dot:nth-child(82) {
  --hue: 305.818831158;
}
.dot:nth-child(83) {
  --hue: 126.7341392143;
}
.dot:nth-child(84) {
  --hue: 195.4675191892;
}
.dot:nth-child(85) {
  --hue: 198.2215525958;
}
.dot:nth-child(86) {
  --hue: 177.5093584709;
}
.dot:nth-child(87) {
  --hue: 42.4588316159;
}
.dot:nth-child(88) {
  --hue: 169.5379976152;
}
.dot:nth-child(89) {
  --hue: 72.4118967767;
}
.dot:nth-child(90) {
  --hue: 219.9032451516;
}
.dot:nth-child(91) {
  --hue: 251.565327275;
}
.dot:nth-child(92) {
  --hue: 65.1216699657;
}
.dot:nth-child(93) {
  --hue: 115.1133915988;
}
.dot:nth-child(94) {
  --hue: 197.7727652061;
}
.dot:nth-child(95) {
  --hue: 313.1067771495;
}
.dot:nth-child(96) {
  --hue: 171.0707592239;
}
.dot:nth-child(97) {
  --hue: 116.6766591845;
}
.dot:nth-child(98) {
  --hue: 58.0455529185;
}
.dot:nth-child(99) {
  --hue: 108.35413682;
}
.dot:nth-child(100) {
  --hue: 295.3644371261;
}
.dot:nth-child(101) {
  --hue: 130.6664791661;
}
.dot:nth-child(102) {
  --hue: 132.7150572436;
}
.dot:nth-child(103) {
  --hue: 248.389730208;
}
.dot:nth-child(104) {
  --hue: 120.8365111807;
}
.dot:nth-child(105) {
  --hue: 79.9151974591;
}
.dot:nth-child(106) {
  --hue: 41.4479791404;
}
.dot:nth-child(107) {
  --hue: 294.4668853881;
}
.dot:nth-child(108) {
  --hue: 152.2083650169;
}
.dot:nth-child(109) {
  --hue: 0.4526777094;
}
.dot:nth-child(110) {
  --hue: 134.7093520983;
}
.dot:nth-child(111) {
  --hue: 213.1228509268;
}
.dot:nth-child(112) {
  --hue: 235.8176430704;
}
.dot:nth-child(113) {
  --hue: 294.4832732014;
}
.dot:nth-child(114) {
  --hue: 133.8721480638;
}
.dot:nth-child(115) {
  --hue: 80.8184939696;
}
.dot:nth-child(116) {
  --hue: 197.219965475;
}
.dot:nth-child(117) {
  --hue: 145.7319381198;
}
.dot:nth-child(118) {
  --hue: 281.9526118301;
}
.dot:nth-child(119) {
  --hue: 274.722223151;
}
.dot:nth-child(120) {
  --hue: 122.5923450753;
}
.dot:nth-child(121) {
  --hue: 229.6226982285;
}
.dot:nth-child(122) {
  --hue: 264.7275829065;
}
.dot:nth-child(123) {
  --hue: 254.8489478702;
}
.dot:nth-child(124) {
  --hue: 59.2628055869;
}
.dot:nth-child(125) {
  --hue: 298.809718595;
}
.dot:nth-child(126) {
  --hue: 282.068475273;
}
.dot:nth-child(127) {
  --hue: 189.6219673044;
}
.dot:nth-child(128) {
  --hue: 116.8343091048;
}
.dot:nth-child(129) {
  --hue: 10.5559241898;
}
.dot:nth-child(130) {
  --hue: 226.4784467757;
}
.dot:nth-child(131) {
  --hue: 63.8072238364;
}
.dot:nth-child(132) {
  --hue: 123.238964;
}
.dot:nth-child(133) {
  --hue: 205.9462090957;
}
.dot:nth-child(134) {
  --hue: 206.3998444729;
}
.dot:nth-child(135) {
  --hue: 260.3410306343;
}
.dot:nth-child(136) {
  --hue: 296.3729744685;
}
.dot:nth-child(137) {
  --hue: 162.2175821748;
}
.dot:nth-child(138) {
  --hue: 70.3402901669;
}
.dot:nth-child(139) {
  --hue: 341.1619368431;
}
.dot:nth-child(140) {
  --hue: 141.3778211881;
}
.dot:nth-child(141) {
  --hue: 55.0551944916;
}
.dot:nth-child(142) {
  --hue: 192.6671545127;
}
.dot:nth-child(143) {
  --hue: 240.1182943064;
}
.dot:nth-child(144) {
  --hue: 29.6550401166;
}
.dot:nth-child(145) {
  --hue: 210.241453732;
}
.dot:nth-child(146) {
  --hue: 269.909014982;
}
.dot:nth-child(147) {
  --hue: 350.2309007722;
}
.dot:nth-child(148) {
  --hue: 114.6028604972;
}
.dot:nth-child(149) {
  --hue: 324.0652268549;
}
.dot:nth-child(150) {
  --hue: 16.0125077963;
}
.dot:nth-child(151) {
  --hue: 317.195065999;
}
.dot:nth-child(152) {
  --hue: 19.6863824278;
}
.dot:nth-child(153) {
  --hue: 330.5246571166;
}
.dot:nth-child(154) {
  --hue: 335.6671453174;
}
.dot:nth-child(155) {
  --hue: 235.9151768978;
}
.dot:nth-child(156) {
  --hue: 133.9192757992;
}
.dot:nth-child(157) {
  --hue: 24.4691659047;
}
.dot:nth-child(158) {
  --hue: 272.0221487875;
}
.dot:nth-child(159) {
  --hue: 155.2868186761;
}
.dot:nth-child(160) {
  --hue: 295.8679963915;
}
.dot:nth-child(161) {
  --hue: 248.6864223663;
}
.dot:nth-child(162) {
  --hue: 232.8590353506;
}
.dot:nth-child(163) {
  --hue: 246.6513052408;
}
.dot:nth-child(164) {
  --hue: 100.1063538455;
}
.dot:nth-child(165) {
  --hue: 63.0028713947;
}
.dot:nth-child(166) {
  --hue: 205.3241730528;
}
.dot:nth-child(167) {
  --hue: 212.9193083826;
}
.dot:nth-child(168) {
  --hue: 85.3555191187;
}
.dot:nth-child(169) {
  --hue: 180.9745564113;
}
.dot:nth-child(170) {
  --hue: 302.5468903149;
}
.dot:nth-child(171) {
  --hue: 264.5041942557;
}
.dot:nth-child(172) {
  --hue: 165.6829661686;
}
.dot:nth-child(173) {
  --hue: 300.2029016409;
}
.dot:nth-child(174) {
  --hue: 319.303939613;
}
.dot:nth-child(175) {
  --hue: 0.6596595989;
}
.dot:nth-child(176) {
  --hue: 23.6282481199;
}
.dot:nth-child(177) {
  --hue: 285.9662259352;
}
.dot:nth-child(178) {
  --hue: 357.7409465755;
}
.dot:nth-child(179) {
  --hue: 1.3145204047;
}
.dot:nth-child(180) {
  --hue: 242.4447081869;
}
.dot:nth-child(181) {
  --hue: 115.219654635;
}
.dot:nth-child(182) {
  --hue: 290.4896517964;
}
.dot:nth-child(183) {
  --hue: 315.8235146959;
}
.dot:nth-child(184) {
  --hue: 305.2517570454;
}
.dot:nth-child(185) {
  --hue: 120.9695972629;
}
.dot:nth-child(186) {
  --hue: 257.0283932963;
}
.dot:nth-child(187) {
  --hue: 304.1883770435;
}
.dot:nth-child(188) {
  --hue: 283.9050489308;
}
.dot:nth-child(189) {
  --hue: 188.2269382975;
}
.dot:nth-child(190) {
  --hue: 351.5120011233;
}
.dot:nth-child(191) {
  --hue: 200.2891851686;
}
.dot:nth-child(192) {
  --hue: 173.5721623371;
}
.dot:nth-child(193) {
  --hue: 118.0006503003;
}
.dot:nth-child(194) {
  --hue: 307.9891523405;
}
.dot:nth-child(195) {
  --hue: 38.5540216799;
}
.dot:nth-child(196) {
  --hue: 28.8582181272;
}
.dot:nth-child(197) {
  --hue: 239.1882938049;
}
.dot:nth-child(198) {
  --hue: 347.4949412777;
}
.dot:nth-child(199) {
  --hue: 345.8619426099;
}
.dot:nth-child(200) {
  --hue: 93.0553729823;
}
.dot:nth-child(201) {
  --hue: 270.6604067654;
}
.dot:nth-child(202) {
  --hue: 8.9409436447;
}
.dot:nth-child(203) {
  --hue: 324.9021604313;
}
.dot:nth-child(204) {
  --hue: 327.3603958809;
}
.dot:nth-child(205) {
  --hue: 311.5324083577;
}
.dot:nth-child(206) {
  --hue: 30.3999959154;
}
.dot:nth-child(207) {
  --hue: 348.7470975821;
}
.dot:nth-child(208) {
  --hue: 256.1771761322;
}
.dot:nth-child(209) {
  --hue: 121.2014448141;
}
.dot:nth-child(210) {
  --hue: 272.8445216157;
}
.dot:nth-child(211) {
  --hue: 285.1758050005;
}
.dot:nth-child(212) {
  --hue: 60.4045962726;
}
.dot:nth-child(213) {
  --hue: 313.6178065982;
}
.dot:nth-child(214) {
  --hue: 128.821448852;
}
.dot:nth-child(215) {
  --hue: 92.6917804832;
}
.dot:nth-child(216) {
  --hue: 181.7467172409;
}
.dot:nth-child(217) {
  --hue: 302.4086879161;
}
.dot:nth-child(218) {
  --hue: 180.8360528727;
}
.dot:nth-child(219) {
  --hue: 354.3192203469;
}
.dot:nth-child(220) {
  --hue: 107.6811337725;
}
.dot:nth-child(221) {
  --hue: 130.0239340982;
}
.dot:nth-child(222) {
  --hue: 355.692255301;
}
.dot:nth-child(223) {
  --hue: 277.6135711796;
}
.dot:nth-child(224) {
  --hue: 285.3694326022;
}
.dot:nth-child(225) {
  --hue: 59.3232395982;
}
.dot:nth-child(226) {
  --hue: 10.7029657435;
}
.dot:nth-child(227) {
  --hue: 112.7322219191;
}
.dot:nth-child(228) {
  --hue: 148.2479243018;
}
.dot:nth-child(229) {
  --hue: 337.2599223282;
}
.dot:nth-child(230) {
  --hue: 139.5005521716;
}
.dot:nth-child(231) {
  --hue: 181.9493613805;
}
.dot:nth-child(232) {
  --hue: 179.0547220007;
}
.dot:nth-child(233) {
  --hue: 205.7437844596;
}
.dot:nth-child(234) {
  --hue: 338.161156173;
}
.dot:nth-child(235) {
  --hue: 100.8446169949;
}
.dot:nth-child(236) {
  --hue: 342.8297299149;
}
.dot:nth-child(237) {
  --hue: 59.6856231792;
}
.dot:nth-child(238) {
  --hue: 119.5462730623;
}
.dot:nth-child(239) {
  --hue: 65.288390433;
}
.dot:nth-child(240) {
  --hue: 283.007622348;
}
.dot:nth-child(241) {
  --hue: 355.462069166;
}
.dot:nth-child(242) {
  --hue: 329.1856789053;
}
.dot:nth-child(243) {
  --hue: 233.6196005052;
}
.dot:nth-child(244) {
  --hue: 308.6197394174;
}
.dot:nth-child(245) {
  --hue: 208.6717604698;
}
.dot:nth-child(246) {
  --hue: 66.2324794054;
}
.dot:nth-child(247) {
  --hue: 303.3469791485;
}
.dot:nth-child(248) {
  --hue: 122.4035930705;
}
.dot:nth-child(249) {
  --hue: 124.5425704499;
}
.dot:nth-child(250) {
  --hue: 70.46670204;
}
.dot:nth-child(251) {
  --hue: 215.8885048282;
}
.dot:nth-child(252) {
  --hue: 285.7932167785;
}
.dot:nth-child(253) {
  --hue: 333.2266047737;
}
.dot:nth-child(254) {
  --hue: 342.2566892248;
}
.dot:nth-child(255) {
  --hue: 92.2915767297;
}
.dot:nth-child(256) {
  --hue: 125.005647506;
}
.dot:nth-child(257) {
  --hue: 351.7689878778;
}
.dot:nth-child(258) {
  --hue: 277.2412272042;
}
.dot:nth-child(259) {
  --hue: 202.6538889677;
}
.dot:nth-child(260) {
  --hue: 357.5577312221;
}
.dot:nth-child(261) {
  --hue: 138.7570849541;
}
.dot:nth-child(262) {
  --hue: 99.2894730803;
}
.dot:nth-child(263) {
  --hue: 246.5763514736;
}
.dot:nth-child(264) {
  --hue: 144.6205422926;
}
.dot:nth-child(265) {
  --hue: 93.5295696103;
}
.dot:nth-child(266) {
  --hue: 74.4858704131;
}
.dot:nth-child(267) {
  --hue: 155.0149934709;
}
.dot:nth-child(268) {
  --hue: 40.7197612771;
}
.dot:nth-child(269) {
  --hue: 136.2135563801;
}
.dot:nth-child(270) {
  --hue: 293.7407518454;
}
.dot:nth-child(271) {
  --hue: 180.9068381272;
}
.dot:nth-child(272) {
  --hue: 143.148131316;
}
.dot:nth-child(273) {
  --hue: 217.9795647535;
}
.dot:nth-child(274) {
  --hue: 97.8748487471;
}
.dot:nth-child(275) {
  --hue: 196.2249451286;
}
.dot:nth-child(276) {
  --hue: 213.0605196702;
}
.dot:nth-child(277) {
  --hue: 247.5922451503;
}
.dot:nth-child(278) {
  --hue: 355.6677079446;
}
.dot:nth-child(279) {
  --hue: 284.7273681169;
}
.dot:nth-child(280) {
  --hue: 221.3558330792;
}
.dot:nth-child(281) {
  --hue: 256.27846819;
}
.dot:nth-child(282) {
  --hue: 340.6338594545;
}
.dot:nth-child(283) {
  --hue: 39.5642249358;
}
.dot:nth-child(284) {
  --hue: 355.3051667849;
}
.dot:nth-child(285) {
  --hue: 40.8921337988;
}
.dot:nth-child(286) {
  --hue: 155.933388527;
}
.dot:nth-child(287) {
  --hue: 238.1629648898;
}
.dot:nth-child(288) {
  --hue: 61.622732953;
}
.dot:nth-child(289) {
  --hue: 96.6896835044;
}
.dot:nth-child(290) {
  --hue: 214.715933269;
}
.dot:nth-child(291) {
  --hue: 34.3172113173;
}
.dot:nth-child(292) {
  --hue: 32.5195851936;
}
.dot:nth-child(293) {
  --hue: 124.8177452012;
}
.dot:nth-child(294) {
  --hue: 228.3950896458;
}
.dot:nth-child(295) {
  --hue: 308.4418473534;
}
.dot:nth-child(296) {
  --hue: 234.1809484831;
}
.dot:nth-child(297) {
  --hue: 67.8573978681;
}
.dot:nth-child(298) {
  --hue: 178.2408364031;
}
.dot:nth-child(299) {
  --hue: 198.6741404671;
}
.dot:nth-child(300) {
  --hue: 217.0055344123;
}
.dot:nth-child(301) {
  --hue: 60.9718851665;
}
.dot:nth-child(302) {
  --hue: 237.8353306172;
}
.dot:nth-child(303) {
  --hue: 72.380431239;
}
.dot:nth-child(304) {
  --hue: 354.3142344849;
}
.dot:nth-child(305) {
  --hue: 306.6295787331;
}
.dot:nth-child(306) {
  --hue: 195.6583511684;
}
.dot:nth-child(307) {
  --hue: 119.4895495853;
}
.dot:nth-child(308) {
  --hue: 50.8994976557;
}
.dot:nth-child(309) {
  --hue: 104.1992790238;
}
.dot:nth-child(310) {
  --hue: 303.538768716;
}
.dot:nth-child(311) {
  --hue: 268.9077006584;
}
.dot:nth-child(312) {
  --hue: 253.485603752;
}
.dot:nth-child(313) {
  --hue: 11.1751876409;
}
.dot:nth-child(314) {
  --hue: 76.5022039085;
}
.dot:nth-child(315) {
  --hue: 222.1494466715;
}
.dot:nth-child(316) {
  --hue: 182.2503553602;
}
.dot:nth-child(317) {
  --hue: 222.5211267136;
}
.dot:nth-child(318) {
  --hue: 254.4150950682;
}
.dot:nth-child(319) {
  --hue: 224.2699542133;
}
.dot:nth-child(320) {
  --hue: 275.3682371052;
}
.dot:nth-child(321) {
  --hue: 14.5432288865;
}
.dot:nth-child(322) {
  --hue: 131.1746507642;
}
.dot:nth-child(323) {
  --hue: 231.7765051267;
}
.dot:nth-child(324) {
  --hue: 82.3135974745;
}
.dot:nth-child(325) {
  --hue: 37.1321434621;
}
.dot:nth-child(326) {
  --hue: 80.2245344229;
}
.dot:nth-child(327) {
  --hue: 316.7835574431;
}
.dot:nth-child(328) {
  --hue: 292.3123908345;
}
.dot:nth-child(329) {
  --hue: 285.1157403216;
}
.dot:nth-child(330) {
  --hue: 21.7693936229;
}
.dot:nth-child(331) {
  --hue: 357.1438784167;
}
.dot:nth-child(332) {
  --hue: 59.0311894419;
}
.dot:nth-child(333) {
  --hue: 331.343804385;
}
.dot:nth-child(334) {
  --hue: 108.6485122822;
}
.dot:nth-child(335) {
  --hue: 328.6933795016;
}
.dot:nth-child(336) {
  --hue: 333.5840024328;
}
.dot:nth-child(337) {
  --hue: 291.9063660739;
}
.dot:nth-child(338) {
  --hue: 146.6105989717;
}
.dot:nth-child(339) {
  --hue: 267.5901402895;
}
.dot:nth-child(340) {
  --hue: 167.231381862;
}
.dot:nth-child(341) {
  --hue: 141.2908932647;
}
.dot:nth-child(342) {
  --hue: 319.8297683671;
}
.dot:nth-child(343) {
  --hue: 280.283645276;
}
.dot:nth-child(344) {
  --hue: 267.6637465214;
}
.dot:nth-child(345) {
  --hue: 20.9565266259;
}
.dot:nth-child(346) {
  --hue: 108.3720015089;
}
.dot:nth-child(347) {
  --hue: 37.9281548439;
}
.dot:nth-child(348) {
  --hue: 54.1256862627;
}
.dot:nth-child(349) {
  --hue: 308.3755144774;
}
.dot:nth-child(350) {
  --hue: 26.040425136;
}
.dot:nth-child(351) {
  --hue: 83.389637376;
}
.dot:nth-child(352) {
  --hue: 184.1778810998;
}
.dot:nth-child(353) {
  --hue: 124.3863302605;
}
.dot:nth-child(354) {
  --hue: 309.0298832217;
}
.dot:nth-child(355) {
  --hue: 102.7870338861;
}
.dot:nth-child(356) {
  --hue: 42.1518408994;
}
.dot:nth-child(357) {
  --hue: 171.0344425092;
}
.dot:nth-child(358) {
  --hue: 67.8437840652;
}
.dot:nth-child(359) {
  --hue: 242.2570684611;
}
.dot:nth-child(360) {
  --hue: 224.2512356232;
}
.dot:nth-child(361) {
  --hue: 319.1502085741;
}
.dot:nth-child(362) {
  --hue: 228.3554874905;
}
.dot:nth-child(363) {
  --hue: 307.9095396491;
}
.dot:nth-child(364) {
  --hue: 132.3507864814;
}
.dot:nth-child(365) {
  --hue: 343.8999453184;
}
.dot:nth-child(366) {
  --hue: 177.4732542523;
}
.dot:nth-child(367) {
  --hue: 109.6507759525;
}
.dot:nth-child(368) {
  --hue: 345.9257213449;
}
.dot:nth-child(369) {
  --hue: 208.1784802226;
}
.dot:nth-child(370) {
  --hue: 174.6500997783;
}
.dot:nth-child(371) {
  --hue: 69.9979567944;
}
.dot:nth-child(372) {
  --hue: 347.2499628824;
}
.dot:nth-child(373) {
  --hue: 228.3244171974;
}
.dot:nth-child(374) {
  --hue: 93.6153097404;
}
.dot:nth-child(375) {
  --hue: 116.4735528601;
}
.dot:nth-child(376) {
  --hue: 333.0981765775;
}
.dot:nth-child(377) {
  --hue: 328.6008058639;
}
.dot:nth-child(378) {
  --hue: 20.0641824639;
}
.dot:nth-child(379) {
  --hue: 244.2291756873;
}
.dot:nth-child(380) {
  --hue: 50.6136150561;
}
.dot:nth-child(381) {
  --hue: 198.5341963221;
}
.dot:nth-child(382) {
  --hue: 123.6522797655;
}
.dot:nth-child(383) {
  --hue: 270.9693511963;
}
.dot:nth-child(384) {
  --hue: 15.9679794845;
}
.dot:nth-child(385) {
  --hue: 140.9624338162;
}
.dot:nth-child(386) {
  --hue: 191.1153212703;
}
.dot:nth-child(387) {
  --hue: 334.4569641986;
}
.dot:nth-child(388) {
  --hue: 250.0955276442;
}
.dot:nth-child(389) {
  --hue: 120.9929832445;
}
.dot:nth-child(390) {
  --hue: 63.4155883441;
}
.dot:nth-child(391) {
  --hue: 299.9734582303;
}
.dot:nth-child(392) {
  --hue: 287.5138192947;
}
.dot:nth-child(393) {
  --hue: 25.7948374453;
}
.dot:nth-child(394) {
  --hue: 10.3136423847;
}
.dot:nth-child(395) {
  --hue: 119.6080835972;
}
.dot:nth-child(396) {
  --hue: 36.6626731741;
}
.dot:nth-child(397) {
  --hue: 225.0955039362;
}
.dot:nth-child(398) {
  --hue: 62.563975973;
}
.dot:nth-child(399) {
  --hue: 227.7961390999;
}
.dot:nth-child(400) {
  --hue: 345.108624808;
}
.dot:nth-child(20n+1) {
  --delay1: 0s;
}
.dot:nth-child(n+1):nth-child(-n+20) {
  --delay2: 0s;
}
.dot:nth-child(20n+2) {
  --delay1: -2s;
}
.dot:nth-child(n+21):nth-child(-n+40) {
  --delay2: -3s;
}
.dot:nth-child(20n+3) {
  --delay1: -4s;
}
.dot:nth-child(n+41):nth-child(-n+60) {
  --delay2: -6s;
}
.dot:nth-child(20n+4) {
  --delay1: -6s;
}
.dot:nth-child(n+61):nth-child(-n+80) {
  --delay2: -9s;
}
.dot:nth-child(20n+5) {
  --delay1: -8s;
}
.dot:nth-child(n+81):nth-child(-n+100) {
  --delay2: -12s;
}
.dot:nth-child(20n+6) {
  --delay1: -10s;
}
.dot:nth-child(n+101):nth-child(-n+120) {
  --delay2: -15s;
}
.dot:nth-child(20n+7) {
  --delay1: -12s;
}
.dot:nth-child(n+121):nth-child(-n+140) {
  --delay2: -18s;
}
.dot:nth-child(20n+8) {
  --delay1: -14s;
}
.dot:nth-child(n+141):nth-child(-n+160) {
  --delay2: -21s;
}
.dot:nth-child(20n+9) {
  --delay1: -16s;
}
.dot:nth-child(n+161):nth-child(-n+180) {
  --delay2: -24s;
}
.dot:nth-child(20n+10) {
  --delay1: -18s;
}
.dot:nth-child(n+181):nth-child(-n+200) {
  --delay2: -27s;
}
.dot:nth-child(20n+11) {
  --delay1: -20s;
}
.dot:nth-child(n+201):nth-child(-n+220) {
  --delay2: -30s;
}
.dot:nth-child(20n+12) {
  --delay1: -22s;
}
.dot:nth-child(n+221):nth-child(-n+240) {
  --delay2: -33s;
}
.dot:nth-child(20n+13) {
  --delay1: -24s;
}
.dot:nth-child(n+241):nth-child(-n+260) {
  --delay2: -36s;
}
.dot:nth-child(20n+14) {
  --delay1: -26s;
}
.dot:nth-child(n+261):nth-child(-n+280) {
  --delay2: -39s;
}
.dot:nth-child(20n+15) {
  --delay1: -28s;
}
.dot:nth-child(n+281):nth-child(-n+300) {
  --delay2: -42s;
}
.dot:nth-child(20n+16) {
  --delay1: -30s;
}
.dot:nth-child(n+301):nth-child(-n+320) {
  --delay2: -45s;
}
.dot:nth-child(20n+17) {
  --delay1: -32s;
}
.dot:nth-child(n+321):nth-child(-n+340) {
  --delay2: -48s;
}
.dot:nth-child(20n+18) {
  --delay1: -34s;
}
.dot:nth-child(n+341):nth-child(-n+360) {
  --delay2: -51s;
}
.dot:nth-child(20n+19) {
  --delay1: -36s;
}
.dot:nth-child(n+361):nth-child(-n+380) {
  --delay2: -54s;
}
.dot:nth-child(20n+20) {
  --delay1: -38s;
}
.dot:nth-child(n+381):nth-child(-n+400) {
  --delay2: -57s;
}/*# sourceMappingURL=style.css.map */