$XdelayFactor : 0.2;
$YdelayFactor: 0.2;

$dotSize: 12px;
$gridSize: 24px;

*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.dots {
  display: grid;
  grid-template-columns: repeat(20, $gridSize);
  grid-template-rows: repeat(20, $gridSize);
  place-items: center;
}

.dot {
  width: $dotSize; height: $dotSize;
  background-color: hsl(var(--hue), 90%, 70%);
  border-radius: 50%;
  animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;

  @keyframes dot {
    from { transform: rotate(0deg) translateX($gridSize); }
    to { transform: rotate(1440deg) translateX($gridSize); }
  }

  @for $i from 0 to 400 {
    &:nth-child(#{$i + 1}) {
      --hue: #{random() * 360};
      // --hue: #{360 / 400 * $i};
    }
  }

  @for $i from 0 to 20 {
    &:nth-child(20n + #{$i + 1}) {
      --delay1: #{$i * $XdelayFactor * -1s};
    }
    &:nth-child(n + #{20 * $i + 1}):nth-child(-n + #{20 * ($i + 1)}) {
      --delay2: #{$i * $YdelayFactor * -1s};
    }
  }
}

.transition-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 1000;
}
.transition-container.slide .transition1{
  position: fixed;
  background-color: #00efff;
  animation: slide 0.3s ease-in-out forwards;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}
.transition-container.slide .transition2{
  position: fixed;
  background-color: orange;
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}
.transition-container.slide .transition3{
  position: fixed;
  background-color: green;
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}
@keyframes slide {
  0%{
      right: -100vw;
  }
  100%{
      right: 0vw;
  }
}

.return{
  width: 7vw;
  height: 7vh;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 0;
  font-size: 4em;
  ion-icon{
    color: white;
    transition: 0.5s;
    animation: animate 0.5s infinite linear;
  }
  ion-icon:hover{
    color: orange;
  }
  @keyframes animate {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.2);
    }
  }
}