*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.dots {
  display: grid;
  grid-template-columns: repeat(20, 24px);
  grid-template-rows: repeat(20, 24px);
  place-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: hsl(var(--hue), 90%, 70%);
  border-radius: 50%;
  -webkit-animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
          animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
}
@-webkit-keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
@keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
.dot:nth-child(1) {
  --hue: 105.8023024492;
}
.dot:nth-child(2) {
  --hue: 52.1149438745;
}
.dot:nth-child(3) {
  --hue: 221.1114437405;
}
.dot:nth-child(4) {
  --hue: 167.1004630596;
}
.dot:nth-child(5) {
  --hue: 60.0615130416;
}
.dot:nth-child(6) {
  --hue: 52.7755288131;
}
.dot:nth-child(7) {
  --hue: 354.9700523199;
}
.dot:nth-child(8) {
  --hue: 4.1969225825;
}
.dot:nth-child(9) {
  --hue: 53.5002001103;
}
.dot:nth-child(10) {
  --hue: 318.2035882561;
}
.dot:nth-child(11) {
  --hue: 97.6414811908;
}
.dot:nth-child(12) {
  --hue: 72.3855506822;
}
.dot:nth-child(13) {
  --hue: 13.398075696;
}
.dot:nth-child(14) {
  --hue: 173.774467539;
}
.dot:nth-child(15) {
  --hue: 187.514358891;
}
.dot:nth-child(16) {
  --hue: 354.3144401643;
}
.dot:nth-child(17) {
  --hue: 90.1394517224;
}
.dot:nth-child(18) {
  --hue: 110.7233106845;
}
.dot:nth-child(19) {
  --hue: 346.9369142028;
}
.dot:nth-child(20) {
  --hue: 32.5854445603;
}
.dot:nth-child(21) {
  --hue: 251.8197049885;
}
.dot:nth-child(22) {
  --hue: 246.7261839774;
}
.dot:nth-child(23) {
  --hue: 118.6218837595;
}
.dot:nth-child(24) {
  --hue: 341.6784742736;
}
.dot:nth-child(25) {
  --hue: 92.3123605187;
}
.dot:nth-child(26) {
  --hue: 210.987859533;
}
.dot:nth-child(27) {
  --hue: 10.621247131;
}
.dot:nth-child(28) {
  --hue: 201.4049759123;
}
.dot:nth-child(29) {
  --hue: 251.3472978497;
}
.dot:nth-child(30) {
  --hue: 96.7925334991;
}
.dot:nth-child(31) {
  --hue: 254.9068186552;
}
.dot:nth-child(32) {
  --hue: 70.9783458637;
}
.dot:nth-child(33) {
  --hue: 321.0899627838;
}
.dot:nth-child(34) {
  --hue: 180.6363379208;
}
.dot:nth-child(35) {
  --hue: 1.4620118688;
}
.dot:nth-child(36) {
  --hue: 118.2131065304;
}
.dot:nth-child(37) {
  --hue: 321.2750597505;
}
.dot:nth-child(38) {
  --hue: 173.6627289287;
}
.dot:nth-child(39) {
  --hue: 124.5427588657;
}
.dot:nth-child(40) {
  --hue: 167.0682321619;
}
.dot:nth-child(41) {
  --hue: 309.6820676957;
}
.dot:nth-child(42) {
  --hue: 343.4331165955;
}
.dot:nth-child(43) {
  --hue: 166.4840236005;
}
.dot:nth-child(44) {
  --hue: 18.2745951184;
}
.dot:nth-child(45) {
  --hue: 189.3589365194;
}
.dot:nth-child(46) {
  --hue: 175.5222269563;
}
.dot:nth-child(47) {
  --hue: 219.9434507832;
}
.dot:nth-child(48) {
  --hue: 80.3541390588;
}
.dot:nth-child(49) {
  --hue: 61.6139074329;
}
.dot:nth-child(50) {
  --hue: 327.022781085;
}
.dot:nth-child(51) {
  --hue: 263.6226348912;
}
.dot:nth-child(52) {
  --hue: 57.1215674206;
}
.dot:nth-child(53) {
  --hue: 201.7990095085;
}
.dot:nth-child(54) {
  --hue: 130.6424521121;
}
.dot:nth-child(55) {
  --hue: 131.4215852994;
}
.dot:nth-child(56) {
  --hue: 26.8044160005;
}
.dot:nth-child(57) {
  --hue: 325.3392146778;
}
.dot:nth-child(58) {
  --hue: 244.1629267082;
}
.dot:nth-child(59) {
  --hue: 187.7930691548;
}
.dot:nth-child(60) {
  --hue: 15.400136185;
}
.dot:nth-child(61) {
  --hue: 146.5430804581;
}
.dot:nth-child(62) {
  --hue: 299.9522891846;
}
.dot:nth-child(63) {
  --hue: 37.9687222222;
}
.dot:nth-child(64) {
  --hue: 268.0394427995;
}
.dot:nth-child(65) {
  --hue: 243.7397165001;
}
.dot:nth-child(66) {
  --hue: 227.6213019799;
}
.dot:nth-child(67) {
  --hue: 192.9666645737;
}
.dot:nth-child(68) {
  --hue: 118.3410789428;
}
.dot:nth-child(69) {
  --hue: 266.4159146949;
}
.dot:nth-child(70) {
  --hue: 139.5486068022;
}
.dot:nth-child(71) {
  --hue: 233.5711044948;
}
.dot:nth-child(72) {
  --hue: 193.0518207281;
}
.dot:nth-child(73) {
  --hue: 297.6882867966;
}
.dot:nth-child(74) {
  --hue: 163.9383735483;
}
.dot:nth-child(75) {
  --hue: 207.9763454805;
}
.dot:nth-child(76) {
  --hue: 39.2834557826;
}
.dot:nth-child(77) {
  --hue: 354.4473471521;
}
.dot:nth-child(78) {
  --hue: 180.8518096685;
}
.dot:nth-child(79) {
  --hue: 231.6226997237;
}
.dot:nth-child(80) {
  --hue: 196.5319852838;
}
.dot:nth-child(81) {
  --hue: 272.0945594095;
}
.dot:nth-child(82) {
  --hue: 313.3683300427;
}
.dot:nth-child(83) {
  --hue: 260.6719285045;
}
.dot:nth-child(84) {
  --hue: 241.3966123038;
}
.dot:nth-child(85) {
  --hue: 224.7219894422;
}
.dot:nth-child(86) {
  --hue: 238.1491728274;
}
.dot:nth-child(87) {
  --hue: 216.8985572962;
}
.dot:nth-child(88) {
  --hue: 134.0148582309;
}
.dot:nth-child(89) {
  --hue: 69.3233062209;
}
.dot:nth-child(90) {
  --hue: 155.7025135523;
}
.dot:nth-child(91) {
  --hue: 330.6385724472;
}
.dot:nth-child(92) {
  --hue: 303.6820128179;
}
.dot:nth-child(93) {
  --hue: 293.6382017142;
}
.dot:nth-child(94) {
  --hue: 101.0665171941;
}
.dot:nth-child(95) {
  --hue: 68.976862181;
}
.dot:nth-child(96) {
  --hue: 237.4243669385;
}
.dot:nth-child(97) {
  --hue: 78.2642419747;
}
.dot:nth-child(98) {
  --hue: 106.2962987895;
}
.dot:nth-child(99) {
  --hue: 198.4994039057;
}
.dot:nth-child(100) {
  --hue: 354.2782157481;
}
.dot:nth-child(101) {
  --hue: 223.942521667;
}
.dot:nth-child(102) {
  --hue: 299.1057426132;
}
.dot:nth-child(103) {
  --hue: 216.3552435627;
}
.dot:nth-child(104) {
  --hue: 200.1254067396;
}
.dot:nth-child(105) {
  --hue: 303.9735088061;
}
.dot:nth-child(106) {
  --hue: 261.7185327982;
}
.dot:nth-child(107) {
  --hue: 243.2216902642;
}
.dot:nth-child(108) {
  --hue: 114.571919064;
}
.dot:nth-child(109) {
  --hue: 292.2869542844;
}
.dot:nth-child(110) {
  --hue: 337.6600826422;
}
.dot:nth-child(111) {
  --hue: 138.9116459239;
}
.dot:nth-child(112) {
  --hue: 258.238310458;
}
.dot:nth-child(113) {
  --hue: 2.0948022611;
}
.dot:nth-child(114) {
  --hue: 183.0609244412;
}
.dot:nth-child(115) {
  --hue: 308.702814633;
}
.dot:nth-child(116) {
  --hue: 35.0131699999;
}
.dot:nth-child(117) {
  --hue: 258.9126007999;
}
.dot:nth-child(118) {
  --hue: 149.8458093026;
}
.dot:nth-child(119) {
  --hue: 140.3651486851;
}
.dot:nth-child(120) {
  --hue: 92.0857513617;
}
.dot:nth-child(121) {
  --hue: 99.619127482;
}
.dot:nth-child(122) {
  --hue: 256.9968883675;
}
.dot:nth-child(123) {
  --hue: 135.8709672371;
}
.dot:nth-child(124) {
  --hue: 115.95821317;
}
.dot:nth-child(125) {
  --hue: 229.6649247514;
}
.dot:nth-child(126) {
  --hue: 265.8306586063;
}
.dot:nth-child(127) {
  --hue: 171.7696723876;
}
.dot:nth-child(128) {
  --hue: 314.0134791378;
}
.dot:nth-child(129) {
  --hue: 238.9253474204;
}
.dot:nth-child(130) {
  --hue: 60.713728004;
}
.dot:nth-child(131) {
  --hue: 98.6647577674;
}
.dot:nth-child(132) {
  --hue: 30.2962073471;
}
.dot:nth-child(133) {
  --hue: 24.7913060491;
}
.dot:nth-child(134) {
  --hue: 196.0876331759;
}
.dot:nth-child(135) {
  --hue: 333.0336809025;
}
.dot:nth-child(136) {
  --hue: 179.6044457617;
}
.dot:nth-child(137) {
  --hue: 241.0831288645;
}
.dot:nth-child(138) {
  --hue: 100.3616168334;
}
.dot:nth-child(139) {
  --hue: 322.7346860697;
}
.dot:nth-child(140) {
  --hue: 15.0113384323;
}
.dot:nth-child(141) {
  --hue: 96.6434003413;
}
.dot:nth-child(142) {
  --hue: 107.8718185804;
}
.dot:nth-child(143) {
  --hue: 307.7037490911;
}
.dot:nth-child(144) {
  --hue: 317.8259588078;
}
.dot:nth-child(145) {
  --hue: 122.9740314366;
}
.dot:nth-child(146) {
  --hue: 94.0920935559;
}
.dot:nth-child(147) {
  --hue: 286.2970526034;
}
.dot:nth-child(148) {
  --hue: 150.6027447568;
}
.dot:nth-child(149) {
  --hue: 204.152242469;
}
.dot:nth-child(150) {
  --hue: 91.2863414352;
}
.dot:nth-child(151) {
  --hue: 25.3302470008;
}
.dot:nth-child(152) {
  --hue: 78.8389302322;
}
.dot:nth-child(153) {
  --hue: 48.7963899523;
}
.dot:nth-child(154) {
  --hue: 69.8661851869;
}
.dot:nth-child(155) {
  --hue: 119.178753935;
}
.dot:nth-child(156) {
  --hue: 302.3669000727;
}
.dot:nth-child(157) {
  --hue: 6.6348843548;
}
.dot:nth-child(158) {
  --hue: 39.1242853152;
}
.dot:nth-child(159) {
  --hue: 290.4902386189;
}
.dot:nth-child(160) {
  --hue: 119.2611519821;
}
.dot:nth-child(161) {
  --hue: 18.2049121931;
}
.dot:nth-child(162) {
  --hue: 55.4895796111;
}
.dot:nth-child(163) {
  --hue: 213.2186316015;
}
.dot:nth-child(164) {
  --hue: 164.3096408184;
}
.dot:nth-child(165) {
  --hue: 272.2398951332;
}
.dot:nth-child(166) {
  --hue: 187.0207907547;
}
.dot:nth-child(167) {
  --hue: 293.1939143651;
}
.dot:nth-child(168) {
  --hue: 224.6856956204;
}
.dot:nth-child(169) {
  --hue: 218.228968098;
}
.dot:nth-child(170) {
  --hue: 9.6814591801;
}
.dot:nth-child(171) {
  --hue: 165.7275178547;
}
.dot:nth-child(172) {
  --hue: 0.92282091;
}
.dot:nth-child(173) {
  --hue: 234.0218339797;
}
.dot:nth-child(174) {
  --hue: 333.9223219046;
}
.dot:nth-child(175) {
  --hue: 166.6214816938;
}
.dot:nth-child(176) {
  --hue: 43.5848802052;
}
.dot:nth-child(177) {
  --hue: 134.1608851629;
}
.dot:nth-child(178) {
  --hue: 11.6375219022;
}
.dot:nth-child(179) {
  --hue: 164.8682980306;
}
.dot:nth-child(180) {
  --hue: 86.2079962819;
}
.dot:nth-child(181) {
  --hue: 39.1862283594;
}
.dot:nth-child(182) {
  --hue: 159.7460454952;
}
.dot:nth-child(183) {
  --hue: 54.8428271711;
}
.dot:nth-child(184) {
  --hue: 344.5059258596;
}
.dot:nth-child(185) {
  --hue: 35.2845653997;
}
.dot:nth-child(186) {
  --hue: 209.8658211903;
}
.dot:nth-child(187) {
  --hue: 78.4658260151;
}
.dot:nth-child(188) {
  --hue: 171.5255979147;
}
.dot:nth-child(189) {
  --hue: 94.1507396499;
}
.dot:nth-child(190) {
  --hue: 139.6544956612;
}
.dot:nth-child(191) {
  --hue: 244.3881678881;
}
.dot:nth-child(192) {
  --hue: 273.5654648536;
}
.dot:nth-child(193) {
  --hue: 134.1731080982;
}
.dot:nth-child(194) {
  --hue: 0.1111288921;
}
.dot:nth-child(195) {
  --hue: 173.8570112121;
}
.dot:nth-child(196) {
  --hue: 257.0280348384;
}
.dot:nth-child(197) {
  --hue: 340.065647943;
}
.dot:nth-child(198) {
  --hue: 58.919278151;
}
.dot:nth-child(199) {
  --hue: 330.5174467178;
}
.dot:nth-child(200) {
  --hue: 292.692973573;
}
.dot:nth-child(201) {
  --hue: 269.3348915163;
}
.dot:nth-child(202) {
  --hue: 338.84793741;
}
.dot:nth-child(203) {
  --hue: 315.0559736886;
}
.dot:nth-child(204) {
  --hue: 131.8387708513;
}
.dot:nth-child(205) {
  --hue: 305.4216694069;
}
.dot:nth-child(206) {
  --hue: 131.1838723338;
}
.dot:nth-child(207) {
  --hue: 254.066305473;
}
.dot:nth-child(208) {
  --hue: 123.2055176704;
}
.dot:nth-child(209) {
  --hue: 267.7414856241;
}
.dot:nth-child(210) {
  --hue: 340.0293352363;
}
.dot:nth-child(211) {
  --hue: 227.6968549519;
}
.dot:nth-child(212) {
  --hue: 93.9915601658;
}
.dot:nth-child(213) {
  --hue: 308.4129528561;
}
.dot:nth-child(214) {
  --hue: 110.7631881636;
}
.dot:nth-child(215) {
  --hue: 358.3587610284;
}
.dot:nth-child(216) {
  --hue: 41.0563908948;
}
.dot:nth-child(217) {
  --hue: 347.9921706918;
}
.dot:nth-child(218) {
  --hue: 222.486167384;
}
.dot:nth-child(219) {
  --hue: 50.1026744115;
}
.dot:nth-child(220) {
  --hue: 213.2596703657;
}
.dot:nth-child(221) {
  --hue: 210.619572327;
}
.dot:nth-child(222) {
  --hue: 13.351859217;
}
.dot:nth-child(223) {
  --hue: 220.6457117144;
}
.dot:nth-child(224) {
  --hue: 50.930558446;
}
.dot:nth-child(225) {
  --hue: 289.4253348383;
}
.dot:nth-child(226) {
  --hue: 335.0233446668;
}
.dot:nth-child(227) {
  --hue: 14.3791603925;
}
.dot:nth-child(228) {
  --hue: 334.7163130487;
}
.dot:nth-child(229) {
  --hue: 350.7443052716;
}
.dot:nth-child(230) {
  --hue: 202.4259369408;
}
.dot:nth-child(231) {
  --hue: 168.5591286686;
}
.dot:nth-child(232) {
  --hue: 59.1862539142;
}
.dot:nth-child(233) {
  --hue: 232.3006425229;
}
.dot:nth-child(234) {
  --hue: 71.7955312488;
}
.dot:nth-child(235) {
  --hue: 174.1412810574;
}
.dot:nth-child(236) {
  --hue: 70.935665118;
}
.dot:nth-child(237) {
  --hue: 190.6284150518;
}
.dot:nth-child(238) {
  --hue: 161.3882544917;
}
.dot:nth-child(239) {
  --hue: 322.1613496702;
}
.dot:nth-child(240) {
  --hue: 49.3263665216;
}
.dot:nth-child(241) {
  --hue: 69.8308483128;
}
.dot:nth-child(242) {
  --hue: 66.9470019574;
}
.dot:nth-child(243) {
  --hue: 335.3710049677;
}
.dot:nth-child(244) {
  --hue: 12.2099457669;
}
.dot:nth-child(245) {
  --hue: 16.0271457748;
}
.dot:nth-child(246) {
  --hue: 58.965599934;
}
.dot:nth-child(247) {
  --hue: 238.6165499938;
}
.dot:nth-child(248) {
  --hue: 249.0252612962;
}
.dot:nth-child(249) {
  --hue: 3.5508450704;
}
.dot:nth-child(250) {
  --hue: 49.8970458103;
}
.dot:nth-child(251) {
  --hue: 355.5828600094;
}
.dot:nth-child(252) {
  --hue: 250.6441572601;
}
.dot:nth-child(253) {
  --hue: 157.5099607403;
}
.dot:nth-child(254) {
  --hue: 301.8212785345;
}
.dot:nth-child(255) {
  --hue: 311.910396724;
}
.dot:nth-child(256) {
  --hue: 195.9927469545;
}
.dot:nth-child(257) {
  --hue: 330.3173367447;
}
.dot:nth-child(258) {
  --hue: 97.5165663836;
}
.dot:nth-child(259) {
  --hue: 332.8715401226;
}
.dot:nth-child(260) {
  --hue: 15.0352181694;
}
.dot:nth-child(261) {
  --hue: 279.1308317285;
}
.dot:nth-child(262) {
  --hue: 107.1471155115;
}
.dot:nth-child(263) {
  --hue: 49.679829293;
}
.dot:nth-child(264) {
  --hue: 49.5830893955;
}
.dot:nth-child(265) {
  --hue: 113.161772149;
}
.dot:nth-child(266) {
  --hue: 59.8854006577;
}
.dot:nth-child(267) {
  --hue: 133.9276406822;
}
.dot:nth-child(268) {
  --hue: 23.9716747508;
}
.dot:nth-child(269) {
  --hue: 339.5304769624;
}
.dot:nth-child(270) {
  --hue: 318.4167211209;
}
.dot:nth-child(271) {
  --hue: 164.0312322258;
}
.dot:nth-child(272) {
  --hue: 105.3323690617;
}
.dot:nth-child(273) {
  --hue: 164.0994105406;
}
.dot:nth-child(274) {
  --hue: 200.9639590923;
}
.dot:nth-child(275) {
  --hue: 126.2970662719;
}
.dot:nth-child(276) {
  --hue: 298.7022380875;
}
.dot:nth-child(277) {
  --hue: 215.1438756864;
}
.dot:nth-child(278) {
  --hue: 69.6446222076;
}
.dot:nth-child(279) {
  --hue: 96.8116042867;
}
.dot:nth-child(280) {
  --hue: 86.598475264;
}
.dot:nth-child(281) {
  --hue: 292.2617791101;
}
.dot:nth-child(282) {
  --hue: 343.1999873739;
}
.dot:nth-child(283) {
  --hue: 196.1663678677;
}
.dot:nth-child(284) {
  --hue: 167.3384720864;
}
.dot:nth-child(285) {
  --hue: 299.343086922;
}
.dot:nth-child(286) {
  --hue: 262.8194000801;
}
.dot:nth-child(287) {
  --hue: 227.8697517849;
}
.dot:nth-child(288) {
  --hue: 110.9735605825;
}
.dot:nth-child(289) {
  --hue: 211.7128170701;
}
.dot:nth-child(290) {
  --hue: 122.4948373503;
}
.dot:nth-child(291) {
  --hue: 48.5361285148;
}
.dot:nth-child(292) {
  --hue: 162.3326337673;
}
.dot:nth-child(293) {
  --hue: 283.9449751035;
}
.dot:nth-child(294) {
  --hue: 240.560676756;
}
.dot:nth-child(295) {
  --hue: 173.6482085187;
}
.dot:nth-child(296) {
  --hue: 126.396961155;
}
.dot:nth-child(297) {
  --hue: 106.4606628662;
}
.dot:nth-child(298) {
  --hue: 44.8822236707;
}
.dot:nth-child(299) {
  --hue: 236.4181315757;
}
.dot:nth-child(300) {
  --hue: 47.18387806;
}
.dot:nth-child(301) {
  --hue: 223.1133862447;
}
.dot:nth-child(302) {
  --hue: 47.8256454933;
}
.dot:nth-child(303) {
  --hue: 47.4045026801;
}
.dot:nth-child(304) {
  --hue: 198.109012909;
}
.dot:nth-child(305) {
  --hue: 34.4805411802;
}
.dot:nth-child(306) {
  --hue: 31.3897090082;
}
.dot:nth-child(307) {
  --hue: 63.9011616752;
}
.dot:nth-child(308) {
  --hue: 182.3843193251;
}
.dot:nth-child(309) {
  --hue: 54.3174643155;
}
.dot:nth-child(310) {
  --hue: 259.7765736553;
}
.dot:nth-child(311) {
  --hue: 29.9606385072;
}
.dot:nth-child(312) {
  --hue: 241.5916183104;
}
.dot:nth-child(313) {
  --hue: 122.791568071;
}
.dot:nth-child(314) {
  --hue: 318.0163749975;
}
.dot:nth-child(315) {
  --hue: 248.4435154215;
}
.dot:nth-child(316) {
  --hue: 143.2782775591;
}
.dot:nth-child(317) {
  --hue: 278.0798572246;
}
.dot:nth-child(318) {
  --hue: 277.7676927871;
}
.dot:nth-child(319) {
  --hue: 309.919453262;
}
.dot:nth-child(320) {
  --hue: 10.3217558522;
}
.dot:nth-child(321) {
  --hue: 283.9582645641;
}
.dot:nth-child(322) {
  --hue: 313.1638752033;
}
.dot:nth-child(323) {
  --hue: 356.1772633481;
}
.dot:nth-child(324) {
  --hue: 47.2541609783;
}
.dot:nth-child(325) {
  --hue: 90.0400492287;
}
.dot:nth-child(326) {
  --hue: 125.2435464746;
}
.dot:nth-child(327) {
  --hue: 338.5861454509;
}
.dot:nth-child(328) {
  --hue: 51.3720034011;
}
.dot:nth-child(329) {
  --hue: 196.0908736598;
}
.dot:nth-child(330) {
  --hue: 64.3655020412;
}
.dot:nth-child(331) {
  --hue: 19.1144535376;
}
.dot:nth-child(332) {
  --hue: 269.5598029697;
}
.dot:nth-child(333) {
  --hue: 66.3823092513;
}
.dot:nth-child(334) {
  --hue: 243.4980510665;
}
.dot:nth-child(335) {
  --hue: 253.5861134769;
}
.dot:nth-child(336) {
  --hue: 248.1403841183;
}
.dot:nth-child(337) {
  --hue: 1.7434260572;
}
.dot:nth-child(338) {
  --hue: 106.2941392225;
}
.dot:nth-child(339) {
  --hue: 95.7856859346;
}
.dot:nth-child(340) {
  --hue: 250.3681406322;
}
.dot:nth-child(341) {
  --hue: 78.8327972447;
}
.dot:nth-child(342) {
  --hue: 155.372330332;
}
.dot:nth-child(343) {
  --hue: 294.7970917507;
}
.dot:nth-child(344) {
  --hue: 298.7470459422;
}
.dot:nth-child(345) {
  --hue: 129.6345911348;
}
.dot:nth-child(346) {
  --hue: 186.7447354424;
}
.dot:nth-child(347) {
  --hue: 106.7734377524;
}
.dot:nth-child(348) {
  --hue: 276.756887807;
}
.dot:nth-child(349) {
  --hue: 117.3029020329;
}
.dot:nth-child(350) {
  --hue: 263.1235419757;
}
.dot:nth-child(351) {
  --hue: 309.2116411951;
}
.dot:nth-child(352) {
  --hue: 76.3043878024;
}
.dot:nth-child(353) {
  --hue: 161.8206120319;
}
.dot:nth-child(354) {
  --hue: 63.5373919819;
}
.dot:nth-child(355) {
  --hue: 58.5330745746;
}
.dot:nth-child(356) {
  --hue: 148.3860115439;
}
.dot:nth-child(357) {
  --hue: 87.4765296835;
}
.dot:nth-child(358) {
  --hue: 209.6149651616;
}
.dot:nth-child(359) {
  --hue: 52.6154984837;
}
.dot:nth-child(360) {
  --hue: 158.1908624215;
}
.dot:nth-child(361) {
  --hue: 41.1947381793;
}
.dot:nth-child(362) {
  --hue: 6.1401077601;
}
.dot:nth-child(363) {
  --hue: 211.7509834788;
}
.dot:nth-child(364) {
  --hue: 200.7709080866;
}
.dot:nth-child(365) {
  --hue: 104.1820122339;
}
.dot:nth-child(366) {
  --hue: 59.0029279876;
}
.dot:nth-child(367) {
  --hue: 77.0127191901;
}
.dot:nth-child(368) {
  --hue: 278.7187490766;
}
.dot:nth-child(369) {
  --hue: 264.4075505128;
}
.dot:nth-child(370) {
  --hue: 339.7069444859;
}
.dot:nth-child(371) {
  --hue: 175.3992335301;
}
.dot:nth-child(372) {
  --hue: 246.6391353595;
}
.dot:nth-child(373) {
  --hue: 174.4020080961;
}
.dot:nth-child(374) {
  --hue: 350.1465832242;
}
.dot:nth-child(375) {
  --hue: 153.7510135268;
}
.dot:nth-child(376) {
  --hue: 31.7544766059;
}
.dot:nth-child(377) {
  --hue: 63.7693449768;
}
.dot:nth-child(378) {
  --hue: 195.2558615261;
}
.dot:nth-child(379) {
  --hue: 345.1129434184;
}
.dot:nth-child(380) {
  --hue: 0.6525566137;
}
.dot:nth-child(381) {
  --hue: 121.3534794937;
}
.dot:nth-child(382) {
  --hue: 117.754535795;
}
.dot:nth-child(383) {
  --hue: 172.2614765865;
}
.dot:nth-child(384) {
  --hue: 150.4443037671;
}
.dot:nth-child(385) {
  --hue: 95.5280725746;
}
.dot:nth-child(386) {
  --hue: 345.7436805057;
}
.dot:nth-child(387) {
  --hue: 46.4061256599;
}
.dot:nth-child(388) {
  --hue: 154.9172970082;
}
.dot:nth-child(389) {
  --hue: 104.7419841918;
}
.dot:nth-child(390) {
  --hue: 177.381051774;
}
.dot:nth-child(391) {
  --hue: 308.7915935193;
}
.dot:nth-child(392) {
  --hue: 298.3687236124;
}
.dot:nth-child(393) {
  --hue: 148.388852462;
}
.dot:nth-child(394) {
  --hue: 19.6032569802;
}
.dot:nth-child(395) {
  --hue: 294.0242785401;
}
.dot:nth-child(396) {
  --hue: 35.6402577059;
}
.dot:nth-child(397) {
  --hue: 135.6420481445;
}
.dot:nth-child(398) {
  --hue: 273.7772551758;
}
.dot:nth-child(399) {
  --hue: 287.0959242384;
}
.dot:nth-child(400) {
  --hue: 252.3178738979;
}
.dot:nth-child(20n+1) {
  --delay1: 0s;
}
.dot:nth-child(n+1):nth-child(-n+20) {
  --delay2: 0s;
}
.dot:nth-child(20n+2) {
  --delay1: -0.2s;
}
.dot:nth-child(n+21):nth-child(-n+40) {
  --delay2: -0.2s;
}
.dot:nth-child(20n+3) {
  --delay1: -0.4s;
}
.dot:nth-child(n+41):nth-child(-n+60) {
  --delay2: -0.4s;
}
.dot:nth-child(20n+4) {
  --delay1: -0.6s;
}
.dot:nth-child(n+61):nth-child(-n+80) {
  --delay2: -0.6s;
}
.dot:nth-child(20n+5) {
  --delay1: -0.8s;
}
.dot:nth-child(n+81):nth-child(-n+100) {
  --delay2: -0.8s;
}
.dot:nth-child(20n+6) {
  --delay1: -1s;
}
.dot:nth-child(n+101):nth-child(-n+120) {
  --delay2: -1s;
}
.dot:nth-child(20n+7) {
  --delay1: -1.2s;
}
.dot:nth-child(n+121):nth-child(-n+140) {
  --delay2: -1.2s;
}
.dot:nth-child(20n+8) {
  --delay1: -1.4s;
}
.dot:nth-child(n+141):nth-child(-n+160) {
  --delay2: -1.4s;
}
.dot:nth-child(20n+9) {
  --delay1: -1.6s;
}
.dot:nth-child(n+161):nth-child(-n+180) {
  --delay2: -1.6s;
}
.dot:nth-child(20n+10) {
  --delay1: -1.8s;
}
.dot:nth-child(n+181):nth-child(-n+200) {
  --delay2: -1.8s;
}
.dot:nth-child(20n+11) {
  --delay1: -2s;
}
.dot:nth-child(n+201):nth-child(-n+220) {
  --delay2: -2s;
}
.dot:nth-child(20n+12) {
  --delay1: -2.2s;
}
.dot:nth-child(n+221):nth-child(-n+240) {
  --delay2: -2.2s;
}
.dot:nth-child(20n+13) {
  --delay1: -2.4s;
}
.dot:nth-child(n+241):nth-child(-n+260) {
  --delay2: -2.4s;
}
.dot:nth-child(20n+14) {
  --delay1: -2.6s;
}
.dot:nth-child(n+261):nth-child(-n+280) {
  --delay2: -2.6s;
}
.dot:nth-child(20n+15) {
  --delay1: -2.8s;
}
.dot:nth-child(n+281):nth-child(-n+300) {
  --delay2: -2.8s;
}
.dot:nth-child(20n+16) {
  --delay1: -3s;
}
.dot:nth-child(n+301):nth-child(-n+320) {
  --delay2: -3s;
}
.dot:nth-child(20n+17) {
  --delay1: -3.2s;
}
.dot:nth-child(n+321):nth-child(-n+340) {
  --delay2: -3.2s;
}
.dot:nth-child(20n+18) {
  --delay1: -3.4s;
}
.dot:nth-child(n+341):nth-child(-n+360) {
  --delay2: -3.4s;
}
.dot:nth-child(20n+19) {
  --delay1: -3.6s;
}
.dot:nth-child(n+361):nth-child(-n+380) {
  --delay2: -3.6s;
}
.dot:nth-child(20n+20) {
  --delay1: -3.8s;
}
.dot:nth-child(n+381):nth-child(-n+400) {
  --delay2: -3.8s;
}

.transition-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 1000;
}

.transition-container.slide .transition1 {
  position: fixed;
  background-color: rgb(234, 88, 134);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition2 {
  position: fixed;
  background-color: rgb(121, 3, 108);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition3 {
  position: fixed;
  background-color: rgb(249, 161, 95);
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

@-webkit-keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}

@keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}
.return {
  width: 7vw;
  height: 7vh;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 0;
  font-size: 4em;
}
.return ion-icon {
  color: white;
  transition: 0.5s;
  -webkit-animation: animate 0.5s infinite linear;
          animation: animate 0.5s infinite linear;
}
.return ion-icon:hover {
  color: orange;
}
@-webkit-keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}/*# sourceMappingURL=style.css.map */