*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.dots {
  display: grid;
  grid-template-columns: repeat(20, 24px);
  grid-template-rows: repeat(20, 24px);
  place-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: hsl(var(--hue), 90%, 70%);
  border-radius: 50%;
  -webkit-animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
          animation: dot 24s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
}
@-webkit-keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
@keyframes dot {
  from {
    transform: rotate(0deg) translateX(24px);
  }
  to {
    transform: rotate(1440deg) translateX(24px);
  }
}
.dot:nth-child(1) {
  --hue: 355.4992851976;
}
.dot:nth-child(2) {
  --hue: 36.0175931339;
}
.dot:nth-child(3) {
  --hue: 8.9574249904;
}
.dot:nth-child(4) {
  --hue: 6.4186811806;
}
.dot:nth-child(5) {
  --hue: 122.5763703154;
}
.dot:nth-child(6) {
  --hue: 18.1846964327;
}
.dot:nth-child(7) {
  --hue: 273.5100144409;
}
.dot:nth-child(8) {
  --hue: 210.0284375588;
}
.dot:nth-child(9) {
  --hue: 111.4557362208;
}
.dot:nth-child(10) {
  --hue: 101.3206484512;
}
.dot:nth-child(11) {
  --hue: 261.40722822;
}
.dot:nth-child(12) {
  --hue: 358.3803079423;
}
.dot:nth-child(13) {
  --hue: 201.2379783171;
}
.dot:nth-child(14) {
  --hue: 117.6042366401;
}
.dot:nth-child(15) {
  --hue: 237.8300806406;
}
.dot:nth-child(16) {
  --hue: 145.2144674336;
}
.dot:nth-child(17) {
  --hue: 100.0980831495;
}
.dot:nth-child(18) {
  --hue: 335.7920516842;
}
.dot:nth-child(19) {
  --hue: 300.3141931492;
}
.dot:nth-child(20) {
  --hue: 39.7363232125;
}
.dot:nth-child(21) {
  --hue: 112.297970522;
}
.dot:nth-child(22) {
  --hue: 207.8997066768;
}
.dot:nth-child(23) {
  --hue: 89.9221680425;
}
.dot:nth-child(24) {
  --hue: 294.3421453844;
}
.dot:nth-child(25) {
  --hue: 286.892966056;
}
.dot:nth-child(26) {
  --hue: 207.7465797673;
}
.dot:nth-child(27) {
  --hue: 17.1897460089;
}
.dot:nth-child(28) {
  --hue: 189.6588154708;
}
.dot:nth-child(29) {
  --hue: 117.314058753;
}
.dot:nth-child(30) {
  --hue: 354.9006033535;
}
.dot:nth-child(31) {
  --hue: 316.0851646871;
}
.dot:nth-child(32) {
  --hue: 30.5670603317;
}
.dot:nth-child(33) {
  --hue: 166.3488963672;
}
.dot:nth-child(34) {
  --hue: 50.6074397881;
}
.dot:nth-child(35) {
  --hue: 270.7007781526;
}
.dot:nth-child(36) {
  --hue: 22.4653101236;
}
.dot:nth-child(37) {
  --hue: 74.9014068486;
}
.dot:nth-child(38) {
  --hue: 284.1123663745;
}
.dot:nth-child(39) {
  --hue: 359.6351623176;
}
.dot:nth-child(40) {
  --hue: 230.1087187364;
}
.dot:nth-child(41) {
  --hue: 23.5733040285;
}
.dot:nth-child(42) {
  --hue: 339.5683227833;
}
.dot:nth-child(43) {
  --hue: 218.4216591122;
}
.dot:nth-child(44) {
  --hue: 313.5966972443;
}
.dot:nth-child(45) {
  --hue: 235.5410310264;
}
.dot:nth-child(46) {
  --hue: 258.7394063611;
}
.dot:nth-child(47) {
  --hue: 248.0410675871;
}
.dot:nth-child(48) {
  --hue: 344.6615923841;
}
.dot:nth-child(49) {
  --hue: 212.208969372;
}
.dot:nth-child(50) {
  --hue: 47.2318657001;
}
.dot:nth-child(51) {
  --hue: 315.37872161;
}
.dot:nth-child(52) {
  --hue: 141.302703718;
}
.dot:nth-child(53) {
  --hue: 185.4652942538;
}
.dot:nth-child(54) {
  --hue: 94.5253924046;
}
.dot:nth-child(55) {
  --hue: 45.8825229827;
}
.dot:nth-child(56) {
  --hue: 43.9405271347;
}
.dot:nth-child(57) {
  --hue: 297.4843083501;
}
.dot:nth-child(58) {
  --hue: 51.7531174848;
}
.dot:nth-child(59) {
  --hue: 159.684892637;
}
.dot:nth-child(60) {
  --hue: 43.1217887744;
}
.dot:nth-child(61) {
  --hue: 298.931030266;
}
.dot:nth-child(62) {
  --hue: 184.3716305222;
}
.dot:nth-child(63) {
  --hue: 35.7926000223;
}
.dot:nth-child(64) {
  --hue: 318.0821116623;
}
.dot:nth-child(65) {
  --hue: 97.1781748026;
}
.dot:nth-child(66) {
  --hue: 239.0191569771;
}
.dot:nth-child(67) {
  --hue: 161.9798175971;
}
.dot:nth-child(68) {
  --hue: 266.9210323661;
}
.dot:nth-child(69) {
  --hue: 299.8678452966;
}
.dot:nth-child(70) {
  --hue: 279.7041745155;
}
.dot:nth-child(71) {
  --hue: 52.5658475469;
}
.dot:nth-child(72) {
  --hue: 310.2938407696;
}
.dot:nth-child(73) {
  --hue: 70.5870676728;
}
.dot:nth-child(74) {
  --hue: 253.9975532072;
}
.dot:nth-child(75) {
  --hue: 36.7837273263;
}
.dot:nth-child(76) {
  --hue: 102.0287196935;
}
.dot:nth-child(77) {
  --hue: 60.0411788623;
}
.dot:nth-child(78) {
  --hue: 217.2791409557;
}
.dot:nth-child(79) {
  --hue: 132.3224311206;
}
.dot:nth-child(80) {
  --hue: 318.4625491649;
}
.dot:nth-child(81) {
  --hue: 267.873776812;
}
.dot:nth-child(82) {
  --hue: 117.3415643659;
}
.dot:nth-child(83) {
  --hue: 126.8859507804;
}
.dot:nth-child(84) {
  --hue: 12.962832798;
}
.dot:nth-child(85) {
  --hue: 209.1157210138;
}
.dot:nth-child(86) {
  --hue: 9.2527864079;
}
.dot:nth-child(87) {
  --hue: 315.1760909069;
}
.dot:nth-child(88) {
  --hue: 264.2174312347;
}
.dot:nth-child(89) {
  --hue: 173.878409055;
}
.dot:nth-child(90) {
  --hue: 37.196619782;
}
.dot:nth-child(91) {
  --hue: 152.4769310982;
}
.dot:nth-child(92) {
  --hue: 253.1355859661;
}
.dot:nth-child(93) {
  --hue: 203.8794025809;
}
.dot:nth-child(94) {
  --hue: 107.1157834002;
}
.dot:nth-child(95) {
  --hue: 79.6672946214;
}
.dot:nth-child(96) {
  --hue: 34.8914066252;
}
.dot:nth-child(97) {
  --hue: 332.8030110941;
}
.dot:nth-child(98) {
  --hue: 137.7795747275;
}
.dot:nth-child(99) {
  --hue: 122.8146428089;
}
.dot:nth-child(100) {
  --hue: 297.5487757196;
}
.dot:nth-child(101) {
  --hue: 180.8103000949;
}
.dot:nth-child(102) {
  --hue: 289.4299277268;
}
.dot:nth-child(103) {
  --hue: 304.684841496;
}
.dot:nth-child(104) {
  --hue: 245.0392221479;
}
.dot:nth-child(105) {
  --hue: 340.2493899427;
}
.dot:nth-child(106) {
  --hue: 242.2864058944;
}
.dot:nth-child(107) {
  --hue: 68.1793045387;
}
.dot:nth-child(108) {
  --hue: 118.187597163;
}
.dot:nth-child(109) {
  --hue: 30.3491690245;
}
.dot:nth-child(110) {
  --hue: 164.9142596714;
}
.dot:nth-child(111) {
  --hue: 24.0261186978;
}
.dot:nth-child(112) {
  --hue: 228.615044091;
}
.dot:nth-child(113) {
  --hue: 347.9230091203;
}
.dot:nth-child(114) {
  --hue: 8.7534736155;
}
.dot:nth-child(115) {
  --hue: 191.920030278;
}
.dot:nth-child(116) {
  --hue: 131.1731830113;
}
.dot:nth-child(117) {
  --hue: 2.0135268653;
}
.dot:nth-child(118) {
  --hue: 315.4287449428;
}
.dot:nth-child(119) {
  --hue: 323.5055491015;
}
.dot:nth-child(120) {
  --hue: 20.7945064524;
}
.dot:nth-child(121) {
  --hue: 150.2639503393;
}
.dot:nth-child(122) {
  --hue: 315.0098955469;
}
.dot:nth-child(123) {
  --hue: 179.3356249051;
}
.dot:nth-child(124) {
  --hue: 303.5452864957;
}
.dot:nth-child(125) {
  --hue: 210.3754616428;
}
.dot:nth-child(126) {
  --hue: 39.8963018416;
}
.dot:nth-child(127) {
  --hue: 345.4575232747;
}
.dot:nth-child(128) {
  --hue: 278.9510602328;
}
.dot:nth-child(129) {
  --hue: 270.9457188306;
}
.dot:nth-child(130) {
  --hue: 274.3231873154;
}
.dot:nth-child(131) {
  --hue: 119.6594501329;
}
.dot:nth-child(132) {
  --hue: 322.5007228636;
}
.dot:nth-child(133) {
  --hue: 335.4274292918;
}
.dot:nth-child(134) {
  --hue: 6.4381691715;
}
.dot:nth-child(135) {
  --hue: 345.2002221355;
}
.dot:nth-child(136) {
  --hue: 319.3066675029;
}
.dot:nth-child(137) {
  --hue: 192.6973135373;
}
.dot:nth-child(138) {
  --hue: 64.3686844793;
}
.dot:nth-child(139) {
  --hue: 320.3152812409;
}
.dot:nth-child(140) {
  --hue: 3.0968330029;
}
.dot:nth-child(141) {
  --hue: 67.8802411851;
}
.dot:nth-child(142) {
  --hue: 37.8077935176;
}
.dot:nth-child(143) {
  --hue: 140.920725656;
}
.dot:nth-child(144) {
  --hue: 153.2222366668;
}
.dot:nth-child(145) {
  --hue: 184.5713171198;
}
.dot:nth-child(146) {
  --hue: 262.8459287623;
}
.dot:nth-child(147) {
  --hue: 217.5464542576;
}
.dot:nth-child(148) {
  --hue: 210.0990637576;
}
.dot:nth-child(149) {
  --hue: 238.8215068763;
}
.dot:nth-child(150) {
  --hue: 162.3703307144;
}
.dot:nth-child(151) {
  --hue: 19.6647436876;
}
.dot:nth-child(152) {
  --hue: 337.2325961367;
}
.dot:nth-child(153) {
  --hue: 29.1979154466;
}
.dot:nth-child(154) {
  --hue: 186.3622475164;
}
.dot:nth-child(155) {
  --hue: 160.9963136017;
}
.dot:nth-child(156) {
  --hue: 344.7319675976;
}
.dot:nth-child(157) {
  --hue: 299.1252875723;
}
.dot:nth-child(158) {
  --hue: 68.7649115847;
}
.dot:nth-child(159) {
  --hue: 205.0961040206;
}
.dot:nth-child(160) {
  --hue: 13.044056017;
}
.dot:nth-child(161) {
  --hue: 347.7957951872;
}
.dot:nth-child(162) {
  --hue: 10.1637318383;
}
.dot:nth-child(163) {
  --hue: 324.0339618616;
}
.dot:nth-child(164) {
  --hue: 356.1155270617;
}
.dot:nth-child(165) {
  --hue: 216.2930582365;
}
.dot:nth-child(166) {
  --hue: 195.2653503877;
}
.dot:nth-child(167) {
  --hue: 53.0848918251;
}
.dot:nth-child(168) {
  --hue: 71.4978496862;
}
.dot:nth-child(169) {
  --hue: 45.9676506001;
}
.dot:nth-child(170) {
  --hue: 113.5364479366;
}
.dot:nth-child(171) {
  --hue: 119.5240356287;
}
.dot:nth-child(172) {
  --hue: 197.9267293911;
}
.dot:nth-child(173) {
  --hue: 157.5697238882;
}
.dot:nth-child(174) {
  --hue: 256.7634236431;
}
.dot:nth-child(175) {
  --hue: 323.5407642822;
}
.dot:nth-child(176) {
  --hue: 247.6744146113;
}
.dot:nth-child(177) {
  --hue: 5.1273631732;
}
.dot:nth-child(178) {
  --hue: 294.2563768898;
}
.dot:nth-child(179) {
  --hue: 157.0878947978;
}
.dot:nth-child(180) {
  --hue: 136.1611418112;
}
.dot:nth-child(181) {
  --hue: 201.3683783087;
}
.dot:nth-child(182) {
  --hue: 345.502493711;
}
.dot:nth-child(183) {
  --hue: 59.7620024428;
}
.dot:nth-child(184) {
  --hue: 50.3467817896;
}
.dot:nth-child(185) {
  --hue: 304.8781861963;
}
.dot:nth-child(186) {
  --hue: 115.5326215767;
}
.dot:nth-child(187) {
  --hue: 212.2188811547;
}
.dot:nth-child(188) {
  --hue: 63.7317140149;
}
.dot:nth-child(189) {
  --hue: 41.7743891769;
}
.dot:nth-child(190) {
  --hue: 284.2130215871;
}
.dot:nth-child(191) {
  --hue: 8.4094205915;
}
.dot:nth-child(192) {
  --hue: 25.6975230783;
}
.dot:nth-child(193) {
  --hue: 55.9527731143;
}
.dot:nth-child(194) {
  --hue: 114.1544947818;
}
.dot:nth-child(195) {
  --hue: 31.4000892866;
}
.dot:nth-child(196) {
  --hue: 191.465896897;
}
.dot:nth-child(197) {
  --hue: 263.7815661812;
}
.dot:nth-child(198) {
  --hue: 177.8917976677;
}
.dot:nth-child(199) {
  --hue: 29.1742207085;
}
.dot:nth-child(200) {
  --hue: 109.2093550381;
}
.dot:nth-child(201) {
  --hue: 22.5588775735;
}
.dot:nth-child(202) {
  --hue: 210.8918065601;
}
.dot:nth-child(203) {
  --hue: 61.6259790721;
}
.dot:nth-child(204) {
  --hue: 193.6153064742;
}
.dot:nth-child(205) {
  --hue: 39.2895562966;
}
.dot:nth-child(206) {
  --hue: 4.748636349;
}
.dot:nth-child(207) {
  --hue: 140.038991894;
}
.dot:nth-child(208) {
  --hue: 11.5168834272;
}
.dot:nth-child(209) {
  --hue: 347.0520256037;
}
.dot:nth-child(210) {
  --hue: 97.1392109614;
}
.dot:nth-child(211) {
  --hue: 312.153019523;
}
.dot:nth-child(212) {
  --hue: 102.9494550063;
}
.dot:nth-child(213) {
  --hue: 215.7091478405;
}
.dot:nth-child(214) {
  --hue: 168.4966963039;
}
.dot:nth-child(215) {
  --hue: 12.5293192896;
}
.dot:nth-child(216) {
  --hue: 146.6859904106;
}
.dot:nth-child(217) {
  --hue: 236.9186455233;
}
.dot:nth-child(218) {
  --hue: 345.9784145719;
}
.dot:nth-child(219) {
  --hue: 160.5506655511;
}
.dot:nth-child(220) {
  --hue: 216.8427716949;
}
.dot:nth-child(221) {
  --hue: 71.6701465815;
}
.dot:nth-child(222) {
  --hue: 92.2806848115;
}
.dot:nth-child(223) {
  --hue: 55.1342140863;
}
.dot:nth-child(224) {
  --hue: 324.243166133;
}
.dot:nth-child(225) {
  --hue: 177.4420155204;
}
.dot:nth-child(226) {
  --hue: 145.1299967673;
}
.dot:nth-child(227) {
  --hue: 251.5924044448;
}
.dot:nth-child(228) {
  --hue: 347.9939863791;
}
.dot:nth-child(229) {
  --hue: 252.018731214;
}
.dot:nth-child(230) {
  --hue: 162.5879342598;
}
.dot:nth-child(231) {
  --hue: 200.1152894565;
}
.dot:nth-child(232) {
  --hue: 64.3159254395;
}
.dot:nth-child(233) {
  --hue: 156.1071424934;
}
.dot:nth-child(234) {
  --hue: 69.624044741;
}
.dot:nth-child(235) {
  --hue: 140.132171934;
}
.dot:nth-child(236) {
  --hue: 96.4139254774;
}
.dot:nth-child(237) {
  --hue: 292.7658323194;
}
.dot:nth-child(238) {
  --hue: 56.47083549;
}
.dot:nth-child(239) {
  --hue: 28.6969752334;
}
.dot:nth-child(240) {
  --hue: 233.5105046403;
}
.dot:nth-child(241) {
  --hue: 348.4144738276;
}
.dot:nth-child(242) {
  --hue: 354.2472564361;
}
.dot:nth-child(243) {
  --hue: 37.1463098412;
}
.dot:nth-child(244) {
  --hue: 261.8022401866;
}
.dot:nth-child(245) {
  --hue: 189.6503666427;
}
.dot:nth-child(246) {
  --hue: 214.8704178096;
}
.dot:nth-child(247) {
  --hue: 87.2569427877;
}
.dot:nth-child(248) {
  --hue: 99.2319184132;
}
.dot:nth-child(249) {
  --hue: 114.9806362989;
}
.dot:nth-child(250) {
  --hue: 137.126519195;
}
.dot:nth-child(251) {
  --hue: 262.7959447392;
}
.dot:nth-child(252) {
  --hue: 288.3430170653;
}
.dot:nth-child(253) {
  --hue: 237.0993884016;
}
.dot:nth-child(254) {
  --hue: 154.8279051489;
}
.dot:nth-child(255) {
  --hue: 1.2867604017;
}
.dot:nth-child(256) {
  --hue: 21.6249018154;
}
.dot:nth-child(257) {
  --hue: 58.6756522762;
}
.dot:nth-child(258) {
  --hue: 146.9403073665;
}
.dot:nth-child(259) {
  --hue: 348.8047819299;
}
.dot:nth-child(260) {
  --hue: 345.8413682557;
}
.dot:nth-child(261) {
  --hue: 280.3958149701;
}
.dot:nth-child(262) {
  --hue: 134.3417477185;
}
.dot:nth-child(263) {
  --hue: 206.485811312;
}
.dot:nth-child(264) {
  --hue: 323.9612032336;
}
.dot:nth-child(265) {
  --hue: 186.4966169242;
}
.dot:nth-child(266) {
  --hue: 139.5256620146;
}
.dot:nth-child(267) {
  --hue: 81.2717644655;
}
.dot:nth-child(268) {
  --hue: 167.5136858504;
}
.dot:nth-child(269) {
  --hue: 76.4000413482;
}
.dot:nth-child(270) {
  --hue: 121.3616883026;
}
.dot:nth-child(271) {
  --hue: 27.1128494467;
}
.dot:nth-child(272) {
  --hue: 259.1156920554;
}
.dot:nth-child(273) {
  --hue: 0.9600366212;
}
.dot:nth-child(274) {
  --hue: 254.2641836895;
}
.dot:nth-child(275) {
  --hue: 273.9545257748;
}
.dot:nth-child(276) {
  --hue: 138.4131744671;
}
.dot:nth-child(277) {
  --hue: 193.0760515628;
}
.dot:nth-child(278) {
  --hue: 211.1191993026;
}
.dot:nth-child(279) {
  --hue: 65.2650019177;
}
.dot:nth-child(280) {
  --hue: 154.9218977565;
}
.dot:nth-child(281) {
  --hue: 137.7200540589;
}
.dot:nth-child(282) {
  --hue: 238.9259460964;
}
.dot:nth-child(283) {
  --hue: 287.838918704;
}
.dot:nth-child(284) {
  --hue: 308.266160175;
}
.dot:nth-child(285) {
  --hue: 265.2240741659;
}
.dot:nth-child(286) {
  --hue: 9.669170317;
}
.dot:nth-child(287) {
  --hue: 169.5839518757;
}
.dot:nth-child(288) {
  --hue: 123.2311640334;
}
.dot:nth-child(289) {
  --hue: 213.9134742515;
}
.dot:nth-child(290) {
  --hue: 43.5828645343;
}
.dot:nth-child(291) {
  --hue: 248.1171899574;
}
.dot:nth-child(292) {
  --hue: 57.0742686702;
}
.dot:nth-child(293) {
  --hue: 329.1307996019;
}
.dot:nth-child(294) {
  --hue: 104.1971904036;
}
.dot:nth-child(295) {
  --hue: 87.4544536;
}
.dot:nth-child(296) {
  --hue: 156.312300399;
}
.dot:nth-child(297) {
  --hue: 252.5884405263;
}
.dot:nth-child(298) {
  --hue: 70.6772643852;
}
.dot:nth-child(299) {
  --hue: 46.2221249616;
}
.dot:nth-child(300) {
  --hue: 25.905181009;
}
.dot:nth-child(301) {
  --hue: 96.8575613069;
}
.dot:nth-child(302) {
  --hue: 104.255638269;
}
.dot:nth-child(303) {
  --hue: 233.0432617763;
}
.dot:nth-child(304) {
  --hue: 229.9217112652;
}
.dot:nth-child(305) {
  --hue: 164.9759823809;
}
.dot:nth-child(306) {
  --hue: 6.5649518253;
}
.dot:nth-child(307) {
  --hue: 1.5012746158;
}
.dot:nth-child(308) {
  --hue: 183.4558916699;
}
.dot:nth-child(309) {
  --hue: 27.204049106;
}
.dot:nth-child(310) {
  --hue: 138.1436653878;
}
.dot:nth-child(311) {
  --hue: 75.2881751174;
}
.dot:nth-child(312) {
  --hue: 354.0090857943;
}
.dot:nth-child(313) {
  --hue: 178.6227720282;
}
.dot:nth-child(314) {
  --hue: 288.1882459663;
}
.dot:nth-child(315) {
  --hue: 270.1285068895;
}
.dot:nth-child(316) {
  --hue: 273.0714970432;
}
.dot:nth-child(317) {
  --hue: 197.7315525;
}
.dot:nth-child(318) {
  --hue: 104.3251150154;
}
.dot:nth-child(319) {
  --hue: 171.2968151814;
}
.dot:nth-child(320) {
  --hue: 224.1019355796;
}
.dot:nth-child(321) {
  --hue: 323.1048382125;
}
.dot:nth-child(322) {
  --hue: 152.1522818669;
}
.dot:nth-child(323) {
  --hue: 175.4719632495;
}
.dot:nth-child(324) {
  --hue: 220.4037147244;
}
.dot:nth-child(325) {
  --hue: 218.2141570007;
}
.dot:nth-child(326) {
  --hue: 41.1701174944;
}
.dot:nth-child(327) {
  --hue: 6.3867196176;
}
.dot:nth-child(328) {
  --hue: 107.2175063698;
}
.dot:nth-child(329) {
  --hue: 86.0390728847;
}
.dot:nth-child(330) {
  --hue: 332.5722085799;
}
.dot:nth-child(331) {
  --hue: 353.0750988847;
}
.dot:nth-child(332) {
  --hue: 84.1215360832;
}
.dot:nth-child(333) {
  --hue: 236.6551940792;
}
.dot:nth-child(334) {
  --hue: 128.6213294826;
}
.dot:nth-child(335) {
  --hue: 139.7952697426;
}
.dot:nth-child(336) {
  --hue: 107.7394088193;
}
.dot:nth-child(337) {
  --hue: 334.4229711019;
}
.dot:nth-child(338) {
  --hue: 273.6732661257;
}
.dot:nth-child(339) {
  --hue: 312.9159186235;
}
.dot:nth-child(340) {
  --hue: 290.5254114562;
}
.dot:nth-child(341) {
  --hue: 23.1131796004;
}
.dot:nth-child(342) {
  --hue: 290.7953636807;
}
.dot:nth-child(343) {
  --hue: 211.7891231994;
}
.dot:nth-child(344) {
  --hue: 27.6013368463;
}
.dot:nth-child(345) {
  --hue: 244.0224736767;
}
.dot:nth-child(346) {
  --hue: 65.0933860876;
}
.dot:nth-child(347) {
  --hue: 130.6260228159;
}
.dot:nth-child(348) {
  --hue: 239.7424495503;
}
.dot:nth-child(349) {
  --hue: 66.2858426628;
}
.dot:nth-child(350) {
  --hue: 354.7573503202;
}
.dot:nth-child(351) {
  --hue: 155.4714675405;
}
.dot:nth-child(352) {
  --hue: 341.8675665089;
}
.dot:nth-child(353) {
  --hue: 161.3407552658;
}
.dot:nth-child(354) {
  --hue: 342.2920956633;
}
.dot:nth-child(355) {
  --hue: 45.1252987835;
}
.dot:nth-child(356) {
  --hue: 234.2040399565;
}
.dot:nth-child(357) {
  --hue: 40.1010538571;
}
.dot:nth-child(358) {
  --hue: 10.2596178926;
}
.dot:nth-child(359) {
  --hue: 306.5349159141;
}
.dot:nth-child(360) {
  --hue: 95.4236995124;
}
.dot:nth-child(361) {
  --hue: 209.0823970067;
}
.dot:nth-child(362) {
  --hue: 76.7322604788;
}
.dot:nth-child(363) {
  --hue: 219.6763910002;
}
.dot:nth-child(364) {
  --hue: 263.0289412291;
}
.dot:nth-child(365) {
  --hue: 219.0672853098;
}
.dot:nth-child(366) {
  --hue: 72.5202274307;
}
.dot:nth-child(367) {
  --hue: 133.2373972049;
}
.dot:nth-child(368) {
  --hue: 103.4451165267;
}
.dot:nth-child(369) {
  --hue: 191.9608295065;
}
.dot:nth-child(370) {
  --hue: 258.1340536147;
}
.dot:nth-child(371) {
  --hue: 9.6272629518;
}
.dot:nth-child(372) {
  --hue: 88.8851747579;
}
.dot:nth-child(373) {
  --hue: 341.4508673158;
}
.dot:nth-child(374) {
  --hue: 238.6504741475;
}
.dot:nth-child(375) {
  --hue: 336.2202225189;
}
.dot:nth-child(376) {
  --hue: 127.6690994412;
}
.dot:nth-child(377) {
  --hue: 278.5703985199;
}
.dot:nth-child(378) {
  --hue: 308.6636008306;
}
.dot:nth-child(379) {
  --hue: 311.6259303291;
}
.dot:nth-child(380) {
  --hue: 355.9826706864;
}
.dot:nth-child(381) {
  --hue: 178.1115314628;
}
.dot:nth-child(382) {
  --hue: 300.4112421934;
}
.dot:nth-child(383) {
  --hue: 150.303705807;
}
.dot:nth-child(384) {
  --hue: 105.2202406802;
}
.dot:nth-child(385) {
  --hue: 356.3786115944;
}
.dot:nth-child(386) {
  --hue: 57.8210095489;
}
.dot:nth-child(387) {
  --hue: 67.7435271972;
}
.dot:nth-child(388) {
  --hue: 266.7314957496;
}
.dot:nth-child(389) {
  --hue: 99.330933815;
}
.dot:nth-child(390) {
  --hue: 148.0816385527;
}
.dot:nth-child(391) {
  --hue: 12.8432225815;
}
.dot:nth-child(392) {
  --hue: 62.7252778274;
}
.dot:nth-child(393) {
  --hue: 354.2503162849;
}
.dot:nth-child(394) {
  --hue: 324.3630536434;
}
.dot:nth-child(395) {
  --hue: 35.1508858901;
}
.dot:nth-child(396) {
  --hue: 337.930493798;
}
.dot:nth-child(397) {
  --hue: 268.2848730085;
}
.dot:nth-child(398) {
  --hue: 350.5903295092;
}
.dot:nth-child(399) {
  --hue: 253.3262013693;
}
.dot:nth-child(400) {
  --hue: 2.9174547089;
}
.dot:nth-child(20n+1) {
  --delay1: 0s;
}
.dot:nth-child(n+1):nth-child(-n+20) {
  --delay2: 0s;
}
.dot:nth-child(20n+2) {
  --delay1: -0.2s;
}
.dot:nth-child(n+21):nth-child(-n+40) {
  --delay2: -0.2s;
}
.dot:nth-child(20n+3) {
  --delay1: -0.4s;
}
.dot:nth-child(n+41):nth-child(-n+60) {
  --delay2: -0.4s;
}
.dot:nth-child(20n+4) {
  --delay1: -0.6s;
}
.dot:nth-child(n+61):nth-child(-n+80) {
  --delay2: -0.6s;
}
.dot:nth-child(20n+5) {
  --delay1: -0.8s;
}
.dot:nth-child(n+81):nth-child(-n+100) {
  --delay2: -0.8s;
}
.dot:nth-child(20n+6) {
  --delay1: -1s;
}
.dot:nth-child(n+101):nth-child(-n+120) {
  --delay2: -1s;
}
.dot:nth-child(20n+7) {
  --delay1: -1.2s;
}
.dot:nth-child(n+121):nth-child(-n+140) {
  --delay2: -1.2s;
}
.dot:nth-child(20n+8) {
  --delay1: -1.4s;
}
.dot:nth-child(n+141):nth-child(-n+160) {
  --delay2: -1.4s;
}
.dot:nth-child(20n+9) {
  --delay1: -1.6s;
}
.dot:nth-child(n+161):nth-child(-n+180) {
  --delay2: -1.6s;
}
.dot:nth-child(20n+10) {
  --delay1: -1.8s;
}
.dot:nth-child(n+181):nth-child(-n+200) {
  --delay2: -1.8s;
}
.dot:nth-child(20n+11) {
  --delay1: -2s;
}
.dot:nth-child(n+201):nth-child(-n+220) {
  --delay2: -2s;
}
.dot:nth-child(20n+12) {
  --delay1: -2.2s;
}
.dot:nth-child(n+221):nth-child(-n+240) {
  --delay2: -2.2s;
}
.dot:nth-child(20n+13) {
  --delay1: -2.4s;
}
.dot:nth-child(n+241):nth-child(-n+260) {
  --delay2: -2.4s;
}
.dot:nth-child(20n+14) {
  --delay1: -2.6s;
}
.dot:nth-child(n+261):nth-child(-n+280) {
  --delay2: -2.6s;
}
.dot:nth-child(20n+15) {
  --delay1: -2.8s;
}
.dot:nth-child(n+281):nth-child(-n+300) {
  --delay2: -2.8s;
}
.dot:nth-child(20n+16) {
  --delay1: -3s;
}
.dot:nth-child(n+301):nth-child(-n+320) {
  --delay2: -3s;
}
.dot:nth-child(20n+17) {
  --delay1: -3.2s;
}
.dot:nth-child(n+321):nth-child(-n+340) {
  --delay2: -3.2s;
}
.dot:nth-child(20n+18) {
  --delay1: -3.4s;
}
.dot:nth-child(n+341):nth-child(-n+360) {
  --delay2: -3.4s;
}
.dot:nth-child(20n+19) {
  --delay1: -3.6s;
}
.dot:nth-child(n+361):nth-child(-n+380) {
  --delay2: -3.6s;
}
.dot:nth-child(20n+20) {
  --delay1: -3.8s;
}
.dot:nth-child(n+381):nth-child(-n+400) {
  --delay2: -3.8s;
}

.transition-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 1000;
}

.transition-container.slide .transition1 {
  position: fixed;
  background-color: #00efff;
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition2 {
  position: fixed;
  background-color: orange;
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

.transition-container.slide .transition3 {
  position: fixed;
  background-color: green;
  -webkit-animation: slide 0.3s ease-in-out forwards;
          animation: slide 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
}

@-webkit-keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}

@keyframes slide {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
  }
}
.return {
  width: 7vw;
  height: 7vh;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  left: 0;
  font-size: 4em;
}
.return ion-icon {
  color: white;
  transition: 0.5s;
  -webkit-animation: animate 0.5s infinite linear;
          animation: animate 0.5s infinite linear;
}
.return ion-icon:hover {
  color: orange;
}
@-webkit-keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}/*# sourceMappingURL=style.css.map */